## Census Data Retrieval
---
In this Jupyter notebook, we retrieve census data on every zip code and city in the United States.

### Dependencies

In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time 
from census import Census
from us import states
import sqlite3
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

# Census API Key
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)

### Retrieve Census Data

In [4]:
# Retrieve Census Data (Reference: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b)
zip_census = c.acs5.get(( "B19013_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_021E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",
                          "B17001_002E",
                          "B23025_002E",
                          "B23025_005E",
                          "C24010_007E",
                          "C24010_043E",
                          "B01002_001E",
                          "B01002_002E",
                          "B01002_003E",
                          "B01003_001E",
                          "B25064_001E",
                          "B25077_001E",
                          "B25077_001E",
                          "B02001_002E",
                          "B02001_003E",
                          "B02001_004E",
                          "B02001_005E",
                          "B03001_003E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
zip_census = pd.DataFrame(zip_census)

# Column Reordering
zip_census = zip_census.rename(columns={"B19013_001E": "Household Income", 
                                      "B19301_001E": "Income Per Capita",
                                      "B15003_002E": "Education None",
                                      "B15003_017E": "Education High School",
                                      "B15003_018E": "Education GED",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_021E": "Education Associates",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",
                                      "B15003_025E": "Education Doctorate",
                                      "B17001_002E": "Poverty",
                                      "B23025_002E": "Employment Labor Force",
                                      "B23025_005E": "Employment Unemployed",
                                      "C24010_007E": "Employment Male Computer Engineering",
                                      "C24010_043E": "Employment Female Computer Engineering",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B01003_001E": "Population",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B02001_002E": "White Population",
                                      "B02001_003E": "Black Population",
                                      "B02001_004E": "Native American Population",
                                      "B02001_005E": "Asian Population",
                                      "B03001_003E": "Hispanic Population",
                                      "zip code tabulation area": "zipcode"})

# Visualize Data
zip_census.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Poverty,Household Income,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,Employment Male Computer Engineering,Employment Female Computer Engineering,zipcode
0,37.6,36.5,39.0,17982.0,16956.0,102.0,14.0,0.0,17942.0,456.0,...,10861.0,10816.0,7453.0,6162.0,2213.0,359.0,104500.0,60.0,21.0,00601
1,39.5,38.6,40.3,40260.0,23144.0,693.0,8.0,72.0,37681.0,955.0,...,21720.0,16079.0,8474.0,15289.0,3807.0,395.0,90200.0,211.0,85.0,00602
2,39.9,37.7,41.4,52408.0,36177.0,2057.0,76.0,655.0,50437.0,1014.0,...,25459.0,16804.0,10179.0,17058.0,3991.0,384.0,128400.0,362.0,150.0,00603
3,40.8,41.0,40.3,6331.0,4399.0,151.0,0.0,0.0,6323.0,188.0,...,4070.0,12512.0,5863.0,1679.0,179.0,280.0,108500.0,9.0,0.0,00606
4,40.2,36.9,42.2,28328.0,17791.0,950.0,0.0,26.0,27999.0,377.0,...,14005.0,17475.0,8452.0,9542.0,1495.0,424.0,113200.0,126.0,45.0,00610

In [5]:
zip_census.columns

Index(['Median Age', 'Median Male Age', 'Median Female Age', 'Population',
       'White Population', 'Black Population', 'Native American Population',
       'Asian Population', 'Hispanic Population', 'Education None',
       'Education High School', 'Education GED', 'Education Associates',
       'Education Bachelors', 'Education Masters', 'Education Professional',
       'Education Doctorate', 'Poverty', 'Household Income',
       'Income Per Capita', 'Employment Labor Force', 'Employment Unemployed',
       'Median Gross Rent', 'Median Home Value',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'zipcode'],
      dtype='object')

In [6]:
zip_census.count()

Median Age                                32615
Median Male Age                           32343
Median Female Age                         32300
Population                                33120
White Population                          33120
Black Population                          33120
Native American Population                33120
Asian Population                          33120
Hispanic Population                       33120
Education None                            33120
Education High School                     33120
Education GED                             33120
Education Associates                      33120
Education Bachelors                       33120
Education Masters                         33120
Education Professional                    33120
Education Doctorate                       33120
Poverty                                   33120
Household Income                          31067
Income Per Capita                         32542
Employment Labor Force                    33120
Employment Unemployed                     33120
Median Gross Rent                         27431
Median Home Value                         30793
Employment Male Computer Engineering      33120
Employment Female Computer Engineering    33120
zipcode                                   33120
dtype: int64

### Retrieve Geocoding Data

In [7]:
zip_lat_lng = pd.read_excel("Raw/Latitude_Longitude_Zip.xlsx", converters={"zipcode": str})
zip_lat_lng.head()

  zipcode        lat        lng       city state     city-state
0   00601  18.180555 -66.749961   ADJUNTAS    PR   ADJUNTAS, PR
1   00602  18.361945 -67.175597     AGUADA    PR     AGUADA, PR
2   00603  18.455183 -67.119887  AGUADILLA    PR  AGUADILLA, PR
3   00606  18.158345 -66.932911    MARICAO    PR    MARICAO, PR
4   00610  18.295366 -67.125135     ANASCO    PR     ANASCO, PR

In [8]:
zip_lat_lng.count()

zipcode       33144
lat           33144
lng           33144
city          33120
state         33120
city-state    33120
dtype: int64

### Merge Geocode Data with Census

In [9]:
zip_census_geocoded = zip_census.merge(zip_lat_lng, on="zipcode", how="left")
zip_census_geocoded.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Median Gross Rent,Median Home Value,Employment Male Computer Engineering,Employment Female Computer Engineering,zipcode,lat,lng,city,state,city-state
0,37.6,36.5,39.0,17982.0,16956.0,102.0,14.0,0.0,17942.0,456.0,...,359.0,104500.0,60.0,21.0,00601,18.180555,-66.749961,ADJUNTAS,PR,"ADJUNTAS, PR"
1,39.5,38.6,40.3,40260.0,23144.0,693.0,8.0,72.0,37681.0,955.0,...,395.0,90200.0,211.0,85.0,00602,18.361945,-67.175597,AGUADA,PR,"AGUADA, PR"
2,39.9,37.7,41.4,52408.0,36177.0,2057.0,76.0,655.0,50437.0,1014.0,...,384.0,128400.0,362.0,150.0,00603,18.455183,-67.119887,AGUADILLA,PR,"AGUADILLA, PR"
3,40.8,41.0,40.3,6331.0,4399.0,151.0,0.0,0.0,6323.0,188.0,...,280.0,108500.0,9.0,0.0,00606,18.158345,-66.932911,MARICAO,PR,"MARICAO, PR"
4,40.2,36.9,42.2,28328.0,17791.0,950.0,0.0,26.0,27999.0,377.0,...,424.0,113200.0,126.0,45.0,00610,18.295366,-67.125135,ANASCO,PR,"ANASCO, PR"

In [10]:
zip_census_geocoded.count()

Median Age                                32615
Median Male Age                           32343
Median Female Age                         32300
Population                                33120
White Population                          33120
Black Population                          33120
Native American Population                33120
Asian Population                          33120
Hispanic Population                       33120
Education None                            33120
Education High School                     33120
Education GED                             33120
Education Associates                      33120
Education Bachelors                       33120
Education Masters                         33120
Education Professional                    33120
Education Doctorate                       33120
Poverty                                   33120
Household Income                          31067
Income Per Capita                         32542
Employment Labor Force                    33120
Employment Unemployed                     33120
Median Gross Rent                         27431
Median Home Value                         30793
Employment Male Computer Engineering      33120
Employment Female Computer Engineering    33120
zipcode                                   33120
lat                                       33120
lng                                       33120
city                                      33120
state                                     33120
city-state                                33120
dtype: int64

### Add City, State Key

In [11]:
zip_census_geocoded["CityState"] = zip_census_geocoded["city"] + ", " + zip_census_geocoded["state"]
zip_census_geocoded["CityState"].head()

0     ADJUNTAS, PR
1       AGUADA, PR
2    AGUADILLA, PR
3      MARICAO, PR
4       ANASCO, PR
Name: CityState, dtype: object

In [12]:
zip_census_geocoded[zip_census_geocoded["CityState"] == "MIAMI, FL"][["Population", "zipcode"]].sum()

Population     1.820704e+06
zipcode       3.310133e+279
dtype: float64

### Export CSV of Census Data (By Zip)

In [13]:
zip_census_geocoded.to_csv("Outputs/01-Zip_Census.csv", index=False)

### Convert Columns to Numerics

In [14]:
zip_census_geocoded[['Median Age', 'Median Male Age', 'Median Female Age', 'Population',
       'White Population', 'Black Population', 'Native American Population',
       'Asian Population', 'Hispanic Population', 'Education None',
       'Education High School', 'Education GED', 'Education Associates',
       'Education Bachelors', 'Education Masters', 'Education Professional',
       'Education Doctorate', 'Poverty', 'Household Income',
       'Income Per Capita', 'Employment Labor Force', 'Employment Unemployed',
       'Median Gross Rent', 'Median Home Value',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'lat', 'lng']] = zip_census_geocoded[['Median Age', 'Median Male Age', 'Median Female Age', 'Population',
       'White Population', 'Black Population', 'Native American Population',
       'Asian Population', 'Hispanic Population', 'Education None',
       'Education High School', 'Education GED', 'Education Associates',
       'Education Bachelors', 'Education Masters', 'Education Professional',
       'Education Doctorate', 'Poverty', 'Household Income',
       'Income Per Capita', 'Employment Labor Force', 'Employment Unemployed',
       'Median Gross Rent', 'Median Home Value',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'lat', 'lng']].apply(pd.to_numeric)

In [15]:
# Check Data Types
zip_census_geocoded.dtypes

Median Age                                float64
Median Male Age                           float64
Median Female Age                         float64
Population                                float64
White Population                          float64
Black Population                          float64
Native American Population                float64
Asian Population                          float64
Hispanic Population                       float64
Education None                            float64
Education High School                     float64
Education GED                             float64
Education Associates                      float64
Education Bachelors                       float64
Education Masters                         float64
Education Professional                    float64
Education Doctorate                       float64
Poverty                                   float64
Household Income                          float64
Income Per Capita                         float64
Employment Labor Force                    float64
Employment Unemployed                     float64
Median Gross Rent                         float64
Median Home Value                         float64
Employment Male Computer Engineering      float64
Employment Female Computer Engineering    float64
zipcode                                    object
lat                                       float64
lng                                       float64
city                                       object
state                                      object
city-state                                 object
CityState                                  object
dtype: object

### Aggregate at City Level

In [16]:
# Group by city and calculate the sums 
zip_city_sums = zip_census_geocoded.groupby(["CityState", "city", "state"])[["Population", 
                                                                "White Population", 
                                                                "Black Population",
                                                                "Native American Population",
                                                                "Asian Population",
                                                                "Hispanic Population",
                                                                "Education None",
                                                                "Education High School",
                                                                "Education GED",
                                                               "Education Associates",
                                                               "Education Bachelors",
                                                               "Education Masters",
                                                               "Education Professional",
                                                               "Education Doctorate",
                                                               "Poverty",
                                                               "Employment Labor Force",
                                                               "Employment Unemployed",
                                                               "Employment Male Computer Engineering",
                                                               "Employment Female Computer Engineering"]].sum()

# Reset the index
zip_city_sums = zip_city_sums.reset_index()

In [17]:
# Group by city and calculate the averages 
zip_city_means = zip_census_geocoded.groupby(["city", "state"])[["Median Age",
                                                                 "Median Male Age",
                                                                 "Median Female Age",
                                                                 "Household Income",
                                                                 "Income Per Capita",
                                                                 "Median Gross Rent",
                                                                 "Median Home Value", "lat", "lng"
                                                                ]].mean()

# Reset the index
zip_city_means = zip_city_means.reset_index()

In [18]:
zip_city_sums.columns

Index(['CityState', 'city', 'state', 'Population', 'White Population',
       'Black Population', 'Native American Population', 'Asian Population',
       'Hispanic Population', 'Education None', 'Education High School',
       'Education GED', 'Education Associates', 'Education Bachelors',
       'Education Masters', 'Education Professional', 'Education Doctorate',
       'Poverty', 'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering'],
      dtype='object')

In [19]:
zip_city_means.columns

Index(['city', 'state', 'Median Age', 'Median Male Age', 'Median Female Age',
       'Household Income', 'Income Per Capita', 'Median Gross Rent',
       'Median Home Value', 'lat', 'lng'],
      dtype='object')

In [20]:
city_census_data = zip_city_sums.merge(zip_city_means, on=["city", "state"], how="left")

In [21]:
city_census_data.columns

Index(['CityState', 'city', 'state', 'Population', 'White Population',
       'Black Population', 'Native American Population', 'Asian Population',
       'Hispanic Population', 'Education None', 'Education High School',
       'Education GED', 'Education Associates', 'Education Bachelors',
       'Education Masters', 'Education Professional', 'Education Doctorate',
       'Poverty', 'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng'],
      dtype='object')

### Compare the Zip Stats and the City Stats

In [22]:
print(zip_census_geocoded["Population"].sum())
print(zip_census_geocoded["Employment Male Computer Engineering"].sum())
print(zip_census_geocoded["Household Income"].mean())
print(zip_census_geocoded["Median Age"].mean())

320084105.0
5892832.0
53433.58473621528
41.90543308293794

In [23]:
print(city_census_data["Population"].sum())
print(city_census_data["Employment Male Computer Engineering"].sum())
print(city_census_data["Household Income"].mean())
print(city_census_data["Median Age"].mean())

320084105.0
5892832.0
52893.2880117885
42.916076289730555

### Export City Level CSV

In [24]:
city_census_data.to_csv("Outputs/02-City_Census.csv", index=False)

### Export City and Zip Data to SQLite

In [25]:
conn = sqlite3.connect("Opportunity_Map.db")

In [26]:
city_census_data.to_sql("City_Census", conn, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [27]:
zip_census_geocoded.to_sql("Zip_Census", conn, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [28]:
pd.read_sql("select * from Zip_Census", conn)

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Median Home Value,Employment Male Computer Engineering,Employment Female Computer Engineering,zipcode,lat,lng,city,state,city-state,CityState
0,37.6,36.5,39.0,17982.0,16956.0,102.0,14.0,0.0,17942.0,456.0,...,104500.0,60.0,21.0,00601,18.180555,-66.749961,ADJUNTAS,PR,"ADJUNTAS, PR","ADJUNTAS, PR"
1,39.5,38.6,40.3,40260.0,23144.0,693.0,8.0,72.0,37681.0,955.0,...,90200.0,211.0,85.0,00602,18.361945,-67.175597,AGUADA,PR,"AGUADA, PR","AGUADA, PR"
2,39.9,37.7,41.4,52408.0,36177.0,2057.0,76.0,655.0,50437.0,1014.0,...,128400.0,362.0,150.0,00603,18.455183,-67.119887,AGUADILLA,PR,"AGUADILLA, PR","AGUADILLA, PR"
3,40.8,41.0,40.3,6331.0,4399.0,151.0,0.0,0.0,6323.0,188.0,...,108500.0,9.0,0.0,00606,18.158345,-66.932911,MARICAO,PR,"MARICAO, PR","MARICAO, PR"
4,40.2,36.9,42.2,28328.0,17791.0,950.0,0.0,26.0,27999.0,377.0,...,113200.0,126.0,45.0,00610,18.295366,-67.125135,ANASCO,PR,"ANASCO, PR","ANASCO, PR"
5,39.9,38.1,41.6,64816.0,53756.0,3252.0,331.0,808.0,64542.0,1330.0,...,102000.0,313.0,123.0,00612,18.402253,-66.711397,ARECIBO,PR,"ARECIBO, PR","ARECIBO, PR"
6,42.8,41.3,43.8,10707.0,10088.0,224.0,31.0,0.0,10685.0,213.0,...,95800.0,0.0,15.0,00616,18.420412,-66.671979,BAJADERO,PR,"BAJADERO, PR","BAJADERO, PR"
7,37.1,36.1,39.0,24793.0,23276.0,539.0,0.0,30.0,24645.0,624.0,...,106300.0,126.0,0.0,00617,18.445147,-66.559696,BARCELONETA,PR,"BARCELONETA, PR","BARCELONETA, PR"
8,42.5,43.0,41.9,7425.0,5251.0,104.0,0.0,0.0,7357.0,130.0,...,137400.0,12.0,0.0,00622,17.991245,-67.153993,BOQUERON,PR,"BOQUERON, PR","BOQUERON, PR"
9,40.9,39.5,42.1,42955.0,32402.0,1515.0,40.0,16.0,42881.0,910.0,...,112800.0,211.0,168.0,00623,18.083361,-67.153897,CABO ROJO,PR,"CABO ROJO, PR","CABO ROJO, PR"
10,35.5,35.2,36.3,24628.0,20830.0,856.0,39.0,46.0,24470.0,466.0,...,82700.0,73.0,38.0,00624,18.064919,-66.716683,PENUELAS,PR,"PENUELAS, PR","PENUELAS, PR"
11,39.0,37.7,39.9,33949.0,28031.0,543.0,32.0,0.0,33744.0,624.0,...,100900.0,319.0,63.0,00627,18.412600,-66.863926,CAMUY,PR,"CAMUY, PR","CAMUY, PR"
12,43.8,40.9,45.5,1664.0,1516.0,0.0,0.0,0.0,1656.0,54.0,...,74900.0,0.0,0.0,00631,18.190607,-66.832041,CASTANER,PR,"CASTANER, PR","CASTANER, PR"
13,40.1,37.7,41.5,24398.0,20606.0,739.0,86.0,0.0,24156.0,539.0,...,97600.0,20.0,56.0,00637,18.076713,-66.947389,SABANA GRANDE,PR,"SABANA GRANDE, PR","SABANA GRANDE, PR"
14,38.7,38.0,39.2,18084.0,17295.0,153.0,0.0,0.0,17999.0,436.0,...,109800.0,25.0,28.0,00638,18.295913,-66.515588,CIALES,PR,"CIALES, PR","CIALES, PR"
15,39.9,39.1,40.8,29516.0,25638.0,545.0,48.0,246.0,29391.0,533.0,...,96200.0,47.0,25.0,00641,18.263085,-66.712985,UTUADO,PR,"UTUADO, PR","UTUADO, PR"
16,38.1,37.0,39.3,38396.0,29211.0,5230.0,0.0,29.0,37590.0,708.0,...,140100.0,384.0,201.0,00646,18.433150,-66.285875,DORADO,PR,"DORADO, PR","DORADO, PR"
17,45.0,44.8,45.3,5740.0,4916.0,124.0,5.0,0.0,5733.0,121.0,...,87000.0,0.0,0.0,00647,17.963613,-66.947127,ENSENADA,PR,"ENSENADA, PR","ENSENADA, PR"
18,37.1,35.4,39.3,14738.0,13906.0,256.0,0.0,68.0,14708.0,214.0,...,90200.0,31.0,0.0,00650,18.349416,-66.578079,FLORIDA,PR,"FLORIDA, PR","FLORIDA, PR"
19,40.1,39.3,40.8,3800.0,3443.0,60.0,0.0,23.0,3783.0,37.0,...,105500.0,10.0,0.0,00652,18.448452,-66.594127,GARROCHALES,PR,"GARROCHALES, PR","GARROCHALES, PR"
20,37.4,36.2,37.9,12514.0,10227.0,435.0,53.0,0.0,12437.0,202.0,...,91200.0,66.0,0.0,00653,17.985033,-66.886536,GUANICA,PR,"GUANICA, PR","GUANICA, PR"
21,38.3,36.9,39.3,20414.0,17938.0,621.0,128.0,29.0,20302.0,430.0,...,84900.0,112.0,25.0,00656,18.053539,-66.792931,GUAYANILLA,PR,"GUAYANILLA, PR","GUAYANILLA, PR"
22,39.4,37.5,40.8,41578.0,40209.0,353.0,0.0,124.0,41307.0,670.0,...,129300.0,368.0,207.0,00659,18.407226,-66.808999,HATILLO,PR,"HATILLO, PR","HATILLO, PR"
23,44.0,41.2,45.8,16845.0,5853.0,362.0,0.0,70.0,16762.0,376.0,...,106900.0,61.0,11.0,00660,18.134695,-67.116199,HORMIGUEROS,PR,"HORMIGUEROS, PR","HORMIGUEROS, PR"
24,39.8,37.8,41.5,42499.0,28948.0,2352.0,176.0,10.0,42019.0,871.0,...,109400.0,156.0,81.0,00662,18.468320,-67.015781,ISABELA,PR,"ISABELA, PR","ISABELA, PR"
25,35.2,33.7,36.6,15974.0,14116.0,236.0,0.0,19.0,15949.0,251.0,...,91400.0,36.0,31.0,00664,18.210330,-66.591616,JAYUYA,PR,"JAYUYA, PR","JAYUYA, PR"
26,42.1,39.6,44.3,24968.0,18519.0,576.0,46.0,0.0,24947.0,799.0,...,97900.0,36.0,20.0,00667,18.003422,-67.035810,LAJAS,PR,"LAJAS, PR","LAJAS, PR"
27,39.0,37.5,40.9,27703.0,25205.0,247.0,9.0,26.0,27588.0,698.0,...,91900.0,147.0,74.0,00669,18.277102,-66.869645,LARES,PR,"LARES, PR","LARES, PR"
28,38.3,36.9,39.1,9333.0,7732.0,76.0,15.0,0.0,9235.0,185.0,...,80800.0,0.0,28.0,00670,18.240187,-66.988776,LAS MARIAS,PR,"LAS MARIAS, PR","LAS MARIAS, PR"
29,39.3,37.9,40.5,42358.0,36403.0,1905.0,41.0,3.0,41770.0,858.0,...,114600.0,395.0,261.0,00674,18.422908,-66.489337,MANATI,PR,"MANATI, PR","MANATI, PR"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33090,29.5,31.5,27.6,280.0,37.0,0.0,238.0,0.0,0.0,0.0,...,59000.0,2.0,1.0,99786,67.167563,-156.338137,AMBLER,AK,"AMBLER, AK","AMBLER, AK"
33091,25.5,25.5,27.5,101.0,4.0,0.0,95.0,0.0,0.0,0.0,...,62500.0,0.0,3.0,99788,66.646856,-143.788895,CHALKYITSIK,AK,"CHALKYITSIK, AK","CHALKYITSIK, AK"
33092,24.0,23.6,24.4,345.0,24.0,0.0,303.0,0.0,0.0,1.0,...,93600.0,2.0,1.0,99789,70.001750,-151.934657,NUIQSUT,AK,"NUIQSUT, AK","NUIQSUT, AK"
33093,56.0,47.8,NaN,20.0,20.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,99790,65.390183,-148.326543,FAIRBANKS,AK,"FAIRBANKS, AK","FAIRBANKS, AK"
33094,28.8,28.0,31.8,159.0,6.0,0.0,142.0,0.0,0.0,1.0,...,131300.0,0.0,0.0,99791,70.468398,-156.795478,ATQASUK,AK,"ATQASUK, AK","ATQASUK, AK"
33095,37.3,36.9,37.6,30262.0,20868.0,392.0,3649.0,2156.0,1858.0,100.0,...,324500.0,912.0,313.0,99801,58.372910,-134.178445,JUNEAU,AK,"JUNEAU, AK","JUNEAU, AK"
33096,39.4,39.4,39.6,408.0,83.0,25.0,234.0,40.0,14.0,0.0,...,205600.0,17.0,0.0,99820,57.436465,-134.227340,ANGOON,AK,"ANGOON, AK","ANGOON, AK"
33097,34.6,34.2,35.0,2249.0,1567.0,21.0,358.0,60.0,127.0,0.0,...,305600.0,77.0,57.0,99824,58.265381,-134.400144,DOUGLAS,AK,"DOUGLAS, AK","DOUGLAS, AK"
33098,53.5,45.8,54.1,100.0,93.0,0.0,7.0,0.0,0.0,0.0,...,433300.0,6.0,0.0,99825,58.159987,-135.736378,ELFIN COVE,AK,"ELFIN COVE, AK","ELFIN COVE, AK"
33099,52.9,53.6,48.6,496.0,447.0,0.0,16.0,14.0,19.0,0.0,...,267500.0,0.0,19.0,99826,58.710141,-136.736651,GUSTAVUS,AK,"GUSTAVUS, AK","GUSTAVUS, AK"
33100,45.8,45.7,46.2,2626.0,2074.0,1.0,205.0,77.0,39.0,2.0,...,207500.0,38.0,2.0,99827,59.098771,-135.576936,HAINES,AK,"HAINES, AK","HAINES, AK"
33101,42.6,46.8,37.3,821.0,251.0,22.0,376.0,2.0,14.0,0.0,...,162200.0,13.0,2.0,99829,58.104265,-135.399841,HOONAH,AK,"HOONAH, AK","HOONAH, AK"
33102,36.6,36.7,35.9,628.0,123.0,2.0,410.0,10.0,8.0,0.0,...,137500.0,3.0,0.0,99830,56.771079,-134.089981,KAKE,AK,"KAKE, AK","KAKE, AK"
33103,52.2,51.0,55.1,87.0,33.0,0.0,34.0,0.0,0.0,0.0,...,252100.0,2.0,0.0,99832,58.015478,-136.166143,PELICAN,AK,"PELICAN, AK","PELICAN, AK"
33104,40.4,39.0,41.7,3221.0,2325.0,97.0,194.0,74.0,304.0,0.0,...,218800.0,64.0,34.0,99833,56.926675,-133.120372,PETERSBURG,AK,"PETERSBURG, AK","PETERSBURG, AK"
33105,38.9,38.2,39.6,8943.0,5800.0,97.0,1317.0,526.0,540.0,31.0,...,338600.0,86.0,45.0,99835,57.000402,-135.076713,SITKA,AK,"SITKA, AK","SITKA, AK"
33106,40.1,50.2,36.3,31.0,31.0,0.0,0.0,0.0,0.0,0.0,...,98800.0,0.0,1.0,99836,56.235218,-134.653499,PORT ALEXANDER,AK,"PORT ALEXANDER, AK","PORT ALEXANDER, AK"
33107,43.7,45.8,40.0,999.0,782.0,0.0,61.0,106.0,45.0,0.0,...,324600.0,17.0,8.0,99840,59.575097,-135.335418,SKAGWAY,AK,"SKAGWAY, AK","SKAGWAY, AK"
33108,54.5,57.8,54.3,150.0,150.0,0.0,0.0,0.0,0.0,0.0,...,240900.0,10.0,4.0,99841,57.794300,-135.184384,TENAKEE SPRINGS,AK,"TENAKEE SPRINGS, AK","TENAKEE SPRINGS, AK"
33109,38.7,37.9,39.4,13717.0,9289.0,58.0,1960.0,1010.0,663.0,25.0,...,252500.0,177.0,46.0,99901,55.540405,-131.105347,KETCHIKAN,AK,"KETCHIKAN, AK","KETCHIKAN, AK"
33110,63.8,63.5,NaN,22.0,22.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,99903,55.818431,-132.065800,MEYERS CHUCK,AK,"MEYERS CHUCK, AK","MEYERS CHUCK, AK"
33111,54.6,53.6,59.0,162.0,157.0,0.0,0.0,0.0,0.0,0.0,...,228100.0,0.0,2.0,99918,55.916873,-132.695503,COFFMAN COVE,AK,"COFFMAN COVE, AK","COFFMAN COVE, AK"
33112,41.0,41.3,40.2,637.0,575.0,0.0,36.0,0.0,0.0,0.0,...,198400.0,24.0,0.0,99919,55.645594,-132.496820,THORNE BAY,AK,"THORNE BAY, AK","THORNE BAY, AK"
33113,37.8,43.1,35.8,1950.0,1418.0,3.0,273.0,27.0,37.0,0.0,...,210400.0,47.0,7.0,99921,55.407033,-132.766235,CRAIG,AK,"CRAIG, AK","CRAIG, AK"
33114,44.7,36.5,45.4,277.0,29.0,0.0,236.0,1.0,3.0,0.0,...,77400.0,4.0,0.0,99922,55.307528,-133.046815,HYDABURG,AK,"HYDABURG, AK","HYDABURG, AK"
33115,NaN,NaN,NaN,13.0,13.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,99923,56.002315,-130.041026,HYDER,AK,"HYDER, AK","HYDER, AK"
33116,43.0,41.4,44.5,826.0,368.0,7.0,359.0,0.0,27.0,0.0,...,161700.0,0.0,4.0,99925,55.550204,-132.945933,KLAWOCK,AK,"KLAWOCK, AK","KLAWOCK, AK"
33117,34.3,35.4,33.9,1711.0,141.0,0.0,1358.0,2.0,130.0,0.0,...,115700.0,3.0,9.0,99926,55.138352,-131.470424,METLAKATLA,AK,"METLAKATLA, AK","METLAKATLA, AK"
33118,58.3,59.5,55.5,123.0,114.0,0.0,0.0,0.0,0.0,0.0,...,170500.0,0.0,0.0,99927,56.239062,-133.457924,POINT BAKER,AK,"POINT BAKER, AK","POINT BAKER, AK"
33119,50.2,49.9,50.4,2365.0,1643.0,5.0,414.0,60.0,34.0,18.0,...,172600.0,25.0,11.0,99929,56.370751,-131.693301,WRANGELL,AK,"WRANGELL, AK","WRANGELL, AK"

In [29]:
# Check Tables in SQLite
cur = conn.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
Zip_Census

### Export to Cloud SQL

In [31]:
engine = create_engine('mysql+mysqldb://trilogy:test@35.227.28.228/mapping_data?unix_socket=/cloudsql/sql-projects:us-east1:opportunity-db')
conn = engine.connect()

city_census.to_sql("City_Census", conn, if_exists="replace", index=False)
zip_census.to_sql("Zip_Instances", conn, if_exists="replace", index=False)

NameError: name 'city_census' is not defined