## Distances Between Cities
---
In this Jupyter notebook, we calculate the Vincentys distance between each of Trilogy's campus locations and every other city in America.

### Dependencies

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time 
import sqlite3
import csv
from geopy.distance import vincenty
import glob
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Read the Full List of Cities

In [2]:
conn = sqlite3.connect("Opportunity_Map.db")
full_cities = pd.read_sql("select * from City_Census", conn)
full_cities.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"AARONSBURG, PA",AARONSBURG,PA,1058.0,1058.0,0.0,0.0,0.0,0.0,23.0,...,4.0,41.5,43.8,38.9,53000.0,21407.0,642.0,170100.0,40.895701,-77.392432
1,"ABBEVILLE, AL",ABBEVILLE,AL,6470.0,4064.0,2274.0,0.0,0.0,96.0,66.0,...,7.0,50.1,45.3,52.4,33944.0,20104.0,516.0,78100.0,31.595148,-85.208852
2,"ABBEVILLE, GA",ABBEVILLE,GA,4719.0,2676.0,1903.0,0.0,41.0,89.0,55.0,...,0.0,39.3,38.2,45.8,29200.0,10071.0,435.0,58400.0,31.976256,-83.339665
3,"ABBEVILLE, LA",ABBEVILLE,LA,26078.0,17932.0,6457.0,160.0,1059.0,710.0,308.0,...,71.0,35.9,34.9,37.4,42909.0,21520.0,613.0,95800.0,29.894612,-92.193173
4,"ABBEVILLE, MS",ABBEVILLE,MS,2974.0,1432.0,1502.0,0.0,19.0,16.0,20.0,...,2.0,37.6,29.9,46.0,61563.0,26266.0,490.0,70200.0,34.492325,-89.443056

### Google Distance Matrix

In [3]:
#python file at the moment

In [204]:
path =r'Traffic Data'
allFiles = glob.glob(path + "/*.xlsx")
frame = pd.DataFrame()
list_ = []
counter = 1
for file_ in allFiles:
    print(counter)
    counter = counter + 1
    df = pd.read_excel(file_,index_col=None)
    list_.append(df)
google_distance = pd.concat(list_)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

In [205]:
google_distance.head()

,Unnamed: 0,City,City Lat,City Lng,CityState,Distance_x,Priority,State,Uni CityState,Uni Lat,Uni Lng,University,Google_URL,Distance_y,Distance_Text,Time,Time_Text
0,85975,OBERNBURG,41.838093,-74.994415,"OBERNBURG, NY",130.549256,NaN,NY,"PHILADELPHIA, PA",39.952219,-75.193214,PENN,https://maps.googleapis.com/maps/api/distancem...,298360.0,185 mi,12205.0,3 hours 23 mins
1,85976,OCEAN BEACH,40.645842,-73.156596,"OCEAN BEACH, NY",117.752404,NaN,NY,"PHILADELPHIA, PA",39.952219,-75.193214,PENN,https://maps.googleapis.com/maps/api/distancem...,252683.0,157 mi,13768.0,3 hours 49 mins
2,85977,OCEANSIDE,40.631772,-73.636624,"OCEANSIDE, NY",94.666255,NaN,NY,"PHILADELPHIA, PA",39.952219,-75.193214,PENN,https://maps.googleapis.com/maps/api/distancem...,203027.0,126 mi,10255.0,2 hours 51 mins
3,85978,ODESSA,42.362320,-76.768965,"ODESSA, NY",185.502928,NaN,NY,"PHILADELPHIA, PA",39.952219,-75.193214,PENN,https://maps.googleapis.com/maps/api/distancem...,390922.0,243 mi,14963.0,4 hours 9 mins
4,85981,OLD BETHPAGE,40.759010,-73.457384,"OLD BETHPAGE, NY",107.207203,NaN,NY,"PHILADELPHIA, PA",39.952219,-75.193214,PENN,https://maps.googleapis.com/maps/api/distancem...,222700.0,138 mi,11558.0,3 hours 13 mins

In [206]:
google_distance.shape

(53000, 17)

In [207]:
google_distance.to_csv("Complete_Traffic_Data.csv")

In [208]:
google_distance.columns

Index(['Unnamed: 0', 'City', 'City Lat', 'City Lng', 'CityState', 'Distance_x',
       'Priority', 'State', 'Uni CityState', 'Uni Lat', 'Uni Lng',
       'University', 'Google_URL', 'Distance_y', 'Distance_Text', 'Time',
       'Time_Text'],
      dtype='object')

In [209]:
google_distance["CityState"].nunique()

21349

In [210]:
google_distance.rename(columns = {"Distance_x": "Distance"}, inplace=True)

In [211]:
google_distance = google_distance[['Unnamed: 0', 'City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState', 'Google_URL',
        'Distance_Text', 'Time', 'Time_Text']]

In [212]:
test = google_distance[google_distance["University"] == "GTECH"]
test[test["State"] == "FL"]

Empty DataFrame
Columns: [Unnamed: 0, City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState, Google_URL, Distance_Text, Time, Time_Text]
Index: []

### Identify Cities without University Matches

In [213]:
#merge on citystate, create dataframe where university values are null

In [214]:
traffic_added = google_distance.merge(full_cities, on="CityState", how="outer")

In [215]:
traffic_added.shape

(59283, 45)

In [216]:
traffic_added.columns

Index(['Unnamed: 0', 'City', 'State', 'City Lat', 'City Lng', 'University',
       'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance', 'CityState',
       'Google_URL', 'Distance_Text', 'Time', 'Time_Text', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng'],
      dtype='object')

In [217]:
traffic_added[traffic_added["CityState"] == "ABBYVILLE, KS"]

,Unnamed: 0,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
53000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,54.4,55.6,52.3,46250.0,29101.0,NaN,70700.0,38.006359,-98.206324

In [218]:
no_affiliate = traffic_added[traffic_added['University'].isnull()]

In [219]:
no_affiliate = no_affiliate[['CityState', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng']]

In [220]:
no_affiliate.shape

(6283, 31)

In [221]:
no_affiliate.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
53000,"ABBYVILLE, KS",ABBYVILLE,KS,333.0,330.0,0.0,3.0,0.0,0.0,0.0,...,0.0,54.4,55.6,52.3,46250.0,29101.0,NaN,70700.0,38.006359,-98.206324
53001,"ABERDEEN, SD",ABERDEEN,SD,31563.0,28656.0,541.0,1209.0,708.0,702.0,56.0,...,202.0,36.1,34.6,38.1,51621.0,28196.0,608.0,144200.0,45.482335,-98.532540
53002,"ABERNATHY, TX",ABERNATHY,TX,3863.0,3452.0,53.0,6.0,5.0,1736.0,82.0,...,7.0,36.7,33.4,39.6,51745.0,21233.0,757.0,81900.0,33.857882,-101.881538
53003,"ABIQUIU, NM",ABIQUIU,NM,770.0,524.0,0.0,68.0,0.0,405.0,18.0,...,0.0,56.6,63.1,43.0,77321.0,25944.0,NaN,218100.0,36.282896,-106.411988
53004,"ABITA SPRINGS, LA",ABITA SPRINGS,LA,7964.0,7301.0,381.0,50.0,22.0,346.0,45.0,...,62.0,42.4,42.8,41.8,57326.0,28003.0,872.0,200100.0,30.484687,-89.953028

In [222]:
no_affiliate[no_affiliate["CityState"] == "SHINGLEHOUSE, PA"]

Empty DataFrame
Columns: [CityState, city, state, Population, White Population, Black Population, Native American Population, Asian Population, Hispanic Population, Education None, Education High School, Education GED, Education Associates, Education Bachelors, Education Masters, Education Professional, Education Doctorate, Poverty, Employment Labor Force, Employment Unemployed, Employment Male Computer Engineering, Employment Female Computer Engineering, Median Age, Median Male Age, Median Female Age, Household Income, Income Per Capita, Median Gross Rent, Median Home Value, lat, lng]
Index: []

[0 rows x 31 columns]

In [223]:
traffic_data = traffic_added[traffic_added['University'].notnull()]

In [224]:
traffic_data.shape

(53000, 45)

In [225]:
traffic_data.rename(columns = {"Unnamed: 0": "Zipcode"}, inplace=True)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

### Calculate the Distance Between Remaining Cities and Universities

In [226]:
physical_locations = pd.read_excel("Raw/Physical_Campuses_geo.xlsx")
physical_locations.count()

University             44
CityState              44
Physical_Campus        44
Current_Prospective    44
State                  44
Uni_lat                44
Uni_lng                44
dtype: int64

In [227]:
beyond_google = pd.DataFrame(columns=['City', 'State', 'City Lat', 'City Lng',
                                      'University', 'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance'])

In [228]:
border_rules = {}
csvpath = 'Raw/border-rules.csv'

with open(csvpath, newline= "") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)

    for row in csvreader:
        state = row[0]
        border_rules[state] = row[1:]
        
for item in border_rules:
    border_rules[item] = [x for x in border_rules[item] if x]

In [229]:
counter = 0
for index, row in physical_locations.iterrows():
    print("Checking " + row["University"])
    state_pull = row["State"]
    uni_lat = row["Uni_lat"]
    uni_lng = row["Uni_lng"]
    uni_name = row["University"]
    uni_loc = row["CityState"]
    for item in border_rules[state_pull]:
        if item is not "":
            #check against the city/state dataframe, create new dataframe of values, add values for city/state and lat/lng
            for index, row in no_affiliate.iterrows():
                if row["state"] == item:
                    city_name = row["city"]
                    state_name = row["state"]
                    city_lat = row["lat"]
                    city_lng = row["lng"]
                    city_state = row["CityState"]
                    
                    p1 = (uni_lat, uni_lng)
                    p2 = (city_lat, city_lng)
                    mi_distance = vincenty(p1, p2).miles
                    
                    beyond_google.set_value(counter, "Distance", mi_distance)
                    beyond_google.set_value(counter, "City", city_name)
                    beyond_google.set_value(counter, "State", state_name)
                    beyond_google.set_value(counter, "City Lat", city_lat)
                    beyond_google.set_value(counter, "City Lng", city_lng)
                    beyond_google.set_value(counter, "University", uni_name)
                    beyond_google.set_value(counter, "Uni CityState", uni_loc)
                    beyond_google.set_value(counter, "Uni Lat", uni_lat)
                    beyond_google.set_value(counter, "Uni Lng", uni_lng)
                    beyond_google.set_value(counter, "CityState", city_state)
                    counter = counter + 1
                else:
                    continue
            #print(item)
    #print("Next university")

#testing_distance.to_csv("matrix_cities.csv")

beyond_google.head()

Checking UMASS
Checking GTECH
Checking UT
Checking UCB
Checking HARV
Checking UNC
Checking UNCH
Checking NU
Checking CWR
Checking OSU
Checking SMU
Checking UCD
Checking DU
Checking UMICH
Checking UNH
Checking NU
Checking UT
Checking UCI
Checking RUT
Checking KU
Checking UCSD
Checking UCLA
Checking MIAMI
Checking MINN
Checking VAND
Checking CU
Checking UCF
Checking PENN
Checking UA
Checking PENN
Checking UP
Checking UR
Checking UCD
Checking WASHU
Checking UTAH
Checking UTSA
Checking UCB
Checking GTECH
Checking UW
Checking RUT
Checking UCF
Checking UA
Checking GW
Checking UWM

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA"
1,BAINBRIDGE,GA,30.8661,-84.618,GTECH,"ATLANTA, GA",33.7756,-84.3963,200.904,"BAINBRIDGE, GA"
2,AKRON,AL,32.8528,-87.7503,GTECH,"ATLANTA, GA",33.7756,-84.3963,204.216,"AKRON, AL"
3,ALBERTA,AL,32.1582,-87.3446,GTECH,"ATLANTA, GA",33.7756,-84.3963,204.329,"ALBERTA, AL"
4,ALICEVILLE,AL,33.0772,-88.2027,GTECH,"ATLANTA, GA",33.7756,-84.3963,225.155,"ALICEVILLE, AL"

In [230]:
test = beyond_google[beyond_google["University"] == "GTECH"]
test[test["State"] == "FL"].head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState
150,ALFORD,FL,30.6324,-85.3846,GTECH,"ATLANTA, GA",33.7756,-84.3963,224.184,"ALFORD, FL"
151,ALTHA,FL,30.525,-85.1726,GTECH,"ATLANTA, GA",33.7756,-84.3963,228.554,"ALTHA, FL"
152,APALACHICOLA,FL,29.7317,-85.1119,GTECH,"ATLANTA, GA",33.7756,-84.3963,281.785,"APALACHICOLA, FL"
153,BAGDAD,FL,30.5982,-87.0304,GTECH,"ATLANTA, GA",33.7756,-84.3963,267.844,"BAGDAD, FL"
154,BAKER,FL,30.884,-86.6835,GTECH,"ATLANTA, GA",33.7756,-84.3963,239.989,"BAKER, FL"

In [231]:
beyond_google[beyond_google["CityState"] == "SHINGLEHOUSE,PA"]

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

### Incorporate Rules Again

In [232]:
#need to add another cell for university rules if used, not being used here so skipping for now in the interest of time

In [233]:
#incorporate negative rules on full frame
#import university rules csv, clean up
negative_rules = {}
csvpath = 'Raw/negative-rules.csv'

with open(csvpath, newline= "") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)

    for row in csvreader:
        uni = row[0]
        negative_rules[uni] = row[1:]

for item in negative_rules:
    negative_rules[item] = [x for x in negative_rules[item] if x]

In [234]:
for index, row in beyond_google.iterrows():
    if row["University"] in negative_rules:
        for item in negative_rules[row["University"]]:
            if (row["State"] == item) or (row["CityState"] == item):
                beyond_google.drop(index, inplace=True)

In [235]:
test = beyond_google[beyond_google["University"] == "UCLA"]
test[test["State"] == "NV"].head()

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

In [236]:
len(beyond_google)

23402

### Merge the Three Frames

In [237]:
traffic_data["CityState"].nunique()

21349

In [238]:
traffic_data[traffic_data["CityState"] == "ZWOLLE, LA"]

,Zipcode,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
29304,54599.0,ZWOLLE,LA,31.650584,-93.618811,UT,"HOUSTON, TX",29.719949,-95.342233,167.971661,...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [239]:
beyond_google["CityState"].nunique()

5889

In [240]:
beyond_google[beyond_google["CityState"] == "ZWOLLE, LA"]

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

In [241]:
full_cities["CityState"].nunique()

27632

In [242]:
full_cities[full_cities["CityState"] == "ZWOLLE, LA"]

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
27631,"ZWOLLE, LA",ZWOLLE,LA,5721.0,3151.0,1075.0,1053.0,36.0,245.0,27.0,...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [243]:
traffic_data.columns

Index(['Zipcode', 'City', 'State', 'City Lat', 'City Lng', 'University',
       'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance', 'CityState',
       'Google_URL', 'Distance_Text', 'Time', 'Time_Text', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng'],
      dtype='object')

In [244]:
beyond_google.columns

Index(['City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState'],
      dtype='object')

In [245]:
# drop everything but distance and identifiers from both dataframes and then merge on full cities dataframe

In [246]:
traffic_data = traffic_data[['City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState', 'Google_URL',
       'Distance_Text', 'Time', 'Time_Text']]

In [247]:
#cant merge without a common column

In [248]:
google_distance_merge = traffic_data.merge(full_cities, on="CityState", how="outer")

In [249]:
google_distance_merge.shape

(59283, 44)

In [250]:
google_distance_merge.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,OBERNBURG,NY,41.838093,-74.994415,PENN,"PHILADELPHIA, PA",39.952219,-75.193214,130.549256,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
1,OBERNBURG,NY,41.838093,-74.994415,CU,"NEW YORK, NY",40.807536,-73.962573,89.101344,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
2,OBERNBURG,NY,41.838093,-74.994415,RUT,"SOMERSET, NJ",40.497600,-74.488500,96.192206,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
3,OBERNBURG,NY,41.838093,-74.994415,RUT,"JERSEY CITY, NJ",40.500819,-74.447399,96.589461,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
4,OCEAN BEACH,NY,40.645842,-73.156596,PENN,"PHILADELPHIA, PA",39.952219,-75.193214,117.752404,"OCEAN BEACH, NY",...,2.0,36.7,38.5,31.8,148750.0,54201.0,NaN,733300.0,40.645842,-73.156596

In [251]:
full_data_one = google_distance_merge[google_distance_merge['University'].notnull()]

In [252]:
full_data_one.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,OBERNBURG,NY,41.838093,-74.994415,PENN,"PHILADELPHIA, PA",39.952219,-75.193214,130.549256,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
1,OBERNBURG,NY,41.838093,-74.994415,CU,"NEW YORK, NY",40.807536,-73.962573,89.101344,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
2,OBERNBURG,NY,41.838093,-74.994415,RUT,"SOMERSET, NJ",40.497600,-74.488500,96.192206,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
3,OBERNBURG,NY,41.838093,-74.994415,RUT,"JERSEY CITY, NJ",40.500819,-74.447399,96.589461,"OBERNBURG, NY",...,4.0,20.8,34.5,20.5,111875.0,27500.0,NaN,170800.0,41.838093,-74.994415
4,OCEAN BEACH,NY,40.645842,-73.156596,PENN,"PHILADELPHIA, PA",39.952219,-75.193214,117.752404,"OCEAN BEACH, NY",...,2.0,36.7,38.5,31.8,148750.0,54201.0,NaN,733300.0,40.645842,-73.156596

In [253]:
full_data_one[full_data_one["CityState"] == "ZWOLLE, LA"]

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
29304,ZWOLLE,LA,31.650584,-93.618811,UT,"HOUSTON, TX",29.719949,-95.342233,167.971661,"ZWOLLE, LA",...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [254]:
vincenty_distance_merge = beyond_google.merge(full_cities, on="CityState", how="outer")
vincenty_distance_merge.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
1,ATTAPULGUS,GA,30.7388,-84.4907,UNC,"CHAPEL HILL, NC",35.9049,-79.0469,475.163,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
2,ATTAPULGUS,GA,30.7388,-84.4907,UNCH,"CHARLOTTE, NC",35.3071,-80.7352,382.857,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
3,ATTAPULGUS,GA,30.7388,-84.4907,MIAMI,"MIAMI, FL",25.7617,-80.1918,431.391,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
4,ATTAPULGUS,GA,30.7388,-84.4907,VAND,"NASHVILLE, TN",36.1447,-86.8027,395.744,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698

In [255]:
full_data_two = vincenty_distance_merge[vincenty_distance_merge['University'].notnull()]

In [256]:
full_data_two.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
1,ATTAPULGUS,GA,30.7388,-84.4907,UNC,"CHAPEL HILL, NC",35.9049,-79.0469,475.163,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
2,ATTAPULGUS,GA,30.7388,-84.4907,UNCH,"CHARLOTTE, NC",35.3071,-80.7352,382.857,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
3,ATTAPULGUS,GA,30.7388,-84.4907,MIAMI,"MIAMI, FL",25.7617,-80.1918,431.391,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
4,ATTAPULGUS,GA,30.7388,-84.4907,VAND,"NASHVILLE, TN",36.1447,-86.8027,395.744,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698

In [257]:
frames = [full_data_one, full_data_two]
full_combinations = pd.concat(frames, join='outer')

In [258]:
full_combinations[full_combinations["CityState"] == "ABBYVILLE, KS"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
15897,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",382.106,NaN,18.0,10.0,...,NaN,"DENVER, CO",39.6766,-104.962,DU,330.0,ABBYVILLE,38.006359,-98.206324,KS
15898,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",208.322,NaN,18.0,10.0,...,NaN,"KANSAS CITY, KS",39.1141,-94.6275,KU,330.0,ABBYVILLE,38.006359,-98.206324,KS
15899,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",431.133,NaN,18.0,10.0,...,NaN,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,330.0,ABBYVILLE,38.006359,-98.206324,KS

In [259]:
full_combinations[full_combinations["CityState"] == "ZWOLLE, LA"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
29304,36.0,1075.0,ZWOLLE,31.6506,-93.6188,"ZWOLLE, LA",167.972,203 mi,243.0,233.0,...,3 hours 23 mins,"HOUSTON, TX",29.7199,-95.3422,UT,3151.0,ZWOLLE,31.650584,-93.618811,LA

In [260]:
full_combinations["CityState"].nunique()

27238

In [261]:
full_combinations[full_combinations["CityState"] == "GRETNA, FL"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
20841,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",432.123,NaN,15.0,90.0,...,NaN,"MIAMI, FL",25.7617,-80.1918,MIAMI,206.0,GRETNA,30.620273,-84.677031,FL
20842,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",251.189,NaN,15.0,90.0,...,NaN,"ORLANDO, FL",28.6024,-81.2001,UCF,206.0,GRETNA,30.620273,-84.677031,FL
20843,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",223.096,NaN,15.0,90.0,...,NaN,"TAMPA, FL",28.0587,-82.4139,UCF,206.0,GRETNA,30.620273,-84.677031,FL

In [262]:
test = full_combinations[full_combinations["University"] == "GTECH"]
test[test["State"] == "FL"].head()

Empty DataFrame
Columns: [Asian Population, Black Population, City, City Lat, City Lng, CityState, Distance, Distance_Text, Education Associates, Education Bachelors, Education Doctorate, Education GED, Education High School, Education Masters, Education None, Education Professional, Employment Female Computer Engineering, Employment Labor Force, Employment Male Computer Engineering, Employment Unemployed, Google_URL, Hispanic Population, Household Income, Income Per Capita, Median Age, Median Female Age, Median Gross Rent, Median Home Value, Median Male Age, Native American Population, Population, Poverty, State, Time, Time_Text, Uni CityState, Uni Lat, Uni Lng, University, White Population, city, lat, lng, state]
Index: []

[0 rows x 44 columns]

In [263]:
full_combinations[full_combinations["CityState"] == "SHINGLEHOUSE, PA"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
28746,0.0,6.0,SHINGLEHOUSE,41.9472,-78.1445,"SHINGLEHOUSE, PA",141.848,182 mi,118.0,131.0,...,3 hours 46 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,2630.0,SHINGLEHOUSE,41.947228,-78.144487,PA
28747,0.0,6.0,SHINGLEHOUSE,41.9472,-78.1445,"SHINGLEHOUSE, PA",181.665,214 mi,118.0,131.0,...,3 hours 31 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,2630.0,SHINGLEHOUSE,41.947228,-78.144487,PA

In [264]:
full_combinations[full_combinations["CityState"] == "SHERMAN, NY"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
36935,0.0,11.0,SHERMAN,42.1616,-79.6013,"SHERMAN, NY",113.089,124 mi,165.0,121.0,...,1 hour 56 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,2084.0,SHERMAN,42.161603,-79.601288,NY
36936,0.0,11.0,SHERMAN,42.1616,-79.6013,"SHERMAN, NY",120.527,151 mi,165.0,121.0,...,2 hours 15 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,2084.0,SHERMAN,42.161603,-79.601288,NY

In [265]:
full_combinations[full_combinations["CityState"] == "LEETONIA, OH"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
20197,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",183.831,239 mi,294.0,485.0,...,3 hours 41 mins,"DETROIT, MI",42.2808,-83.743,UMICH,4482.0,LEETONIA,40.851614,-80.749469,OH
20198,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",133.441,163 mi,294.0,485.0,...,2 hours 50 mins,"COLUMBUS, OH",40.0142,-83.0309,OSU,4482.0,LEETONIA,40.851614,-80.749469,OH
20199,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",63.5159,82.5 mi,294.0,485.0,...,1 hour 40 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,4482.0,LEETONIA,40.851614,-80.749469,OH
20200,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",48.7126,62.5 mi,294.0,485.0,...,1 hour 16 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,4482.0,LEETONIA,40.851614,-80.749469,OH

In [266]:
full_combinations[full_combinations["CityState"] == "MACOMB, MI"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
18572,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",49.8216,73.0 mi,6646.0,11893.0,...,1 hour 38 mins,"DETROIT, MI",42.2808,-83.743,UMICH,75321.0,MACOMB,42.666922,-82.919196,MI
18573,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",183.157,237 mi,6646.0,11893.0,...,4 hours 23 mins,"COLUMBUS, OH",40.0142,-83.0309,OSU,75321.0,MACOMB,42.666922,-82.919196,MI
18574,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",104.783,212 mi,6646.0,11893.0,...,3 hours 57 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,75321.0,MACOMB,42.666922,-82.919196,MI

### Note Locations if Physical Campus

In [267]:
#merge with physical location xl
physical_locations = pd.read_excel("Raw/Physical_Campuses_geo.xlsx")
physical_locations = physical_locations[["University", "CityState", "Current_Prospective"]]

In [268]:
full_combinations.columns

Index(['Asian Population', 'Black Population', 'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni CityState', 'Uni Lat',
       'Uni Lng', 'University', 'White Population', 'city', 'lat', 'lng',
       'state'],
      dtype='object')

In [269]:
full_combinations.head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
0,0.0,0.0,OBERNBURG,41.8381,-74.9944,"OBERNBURG, NY",130.549,185 mi,0.0,4.0,...,3 hours 23 mins,"PHILADELPHIA, PA",39.9522,-75.1932,PENN,42.0,OBERNBURG,41.838093,-74.994415,NY
1,0.0,0.0,OBERNBURG,41.8381,-74.9944,"OBERNBURG, NY",89.1013,117 mi,0.0,4.0,...,2 hours 13 mins,"NEW YORK, NY",40.8075,-73.9626,CU,42.0,OBERNBURG,41.838093,-74.994415,NY
2,0.0,0.0,OBERNBURG,41.8381,-74.9944,"OBERNBURG, NY",96.1922,148 mi,0.0,4.0,...,2 hours 31 mins,"SOMERSET, NJ",40.4976,-74.4885,RUT,42.0,OBERNBURG,41.838093,-74.994415,NY
3,0.0,0.0,OBERNBURG,41.8381,-74.9944,"OBERNBURG, NY",96.5895,149 mi,0.0,4.0,...,2 hours 34 mins,"JERSEY CITY, NJ",40.5008,-74.4474,RUT,42.0,OBERNBURG,41.838093,-74.994415,NY
4,4.0,0.0,OCEAN BEACH,40.6458,-73.1566,"OCEAN BEACH, NY",117.752,157 mi,1.0,28.0,...,3 hours 49 mins,"PHILADELPHIA, PA",39.9522,-75.1932,PENN,91.0,OCEAN BEACH,40.645842,-73.156596,NY

In [270]:
full_combinations["Physical_Campus"] = "FALSE"
full_combinations.loc[(full_combinations["Uni CityState"] == full_combinations["CityState"], "Physical_Campus")] = "TRUE"

In [271]:
full_combinations[full_combinations["University"] == "GTECH"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
12529,1760.0,12989.0,ASHEVILLE,35.596,-82.5485,"ASHEVILLE, NC",163.747,197 mi,7041.0,23170.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,105102.0,ASHEVILLE,35.596044,-82.548531,NC,FALSE
12554,0.0,0.0,BARNARDSVILLE,35.7716,-82.3818,"BARNARDSVILLE, NC",179.041,219 mi,227.0,202.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,2388.0,BARNARDSVILLE,35.771599,-82.381832,NC,FALSE
12584,169.0,638.0,BLACK MOUNTAIN,35.6053,-82.2919,"BLACK MOUNTAIN, NC",173.953,211 mi,758.0,1940.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,11951.0,BLACK MOUNTAIN,35.605271,-82.291854,NC,FALSE
12594,0.0,71.0,BOILING SPRINGS,35.2471,-81.6707,"BOILING SPRINGS, NC",185.659,199 mi,0.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,613.0,BOILING SPRINGS,35.247082,-81.670682,NC,FALSE
12607,14.0,124.0,BOSTIC,35.4857,-81.7904,"BOSTIC, NC",189.568,215 mi,431.0,393.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,5241.0,BOSTIC,35.485727,-81.790396,NC,FALSE
12627,32.0,207.0,BURNSVILLE,35.8895,-82.3041,"BURNSVILLE, NC",188.067,232 mi,1162.0,1613.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,15783.0,BURNSVILLE,35.889455,-82.304119,NC,FALSE
12632,75.0,347.0,CALABASH,33.918,-78.592,"CALABASH, NC",192.832,244 mi,626.0,1322.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,8987.0,CALABASH,33.917987,-78.591953,NC,FALSE
12644,0.0,0.0,CAROLEEN,35.2767,-81.7877,"CAROLEEN, NC",181.24,197 mi,0.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,0.0,CAROLEEN,35.276702,-81.787707,NC,FALSE
12655,0.0,0.0,CASAR,35.525,-81.6414,"CASAR, NC",197.895,220 mi,126.0,41.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1843.0,CASAR,35.525046,-81.641413,NC,FALSE
12667,0.0,236.0,CERRO GORDO,34.3034,-78.9454,"CERRO GORDO, NC",197.441,240 mi,98.0,30.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1190.0,CERRO GORDO,34.303437,-78.945367,NC,FALSE
12679,0.0,0.0,CHIMNEY ROCK,35.4508,-82.2537,"CHIMNEY ROCK, NC",168.048,201 mi,6.0,10.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,68.0,CHIMNEY ROCK,35.450754,-82.253654,NC,FALSE
12689,0.0,422.0,CLARENDON,34.168,-78.7587,"CLARENDON, NC",197.635,251 mi,145.0,99.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1893.0,CLARENDON,34.168033,-78.758709,NC,FALSE
12714,7.0,181.0,COLUMBUS,35.2085,-82.061,"COLUMBUS, NC",165.876,185 mi,401.0,719.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,6139.0,COLUMBUS,35.208461,-82.061011,NC,FALSE
12790,0.0,120.0,EAST FLAT ROCK,35.281,-82.4166,"EAST FLAT ROCK, NC",153.363,178 mi,112.0,223.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,2104.0,EAST FLAT ROCK,35.280999,-82.416555,NC,FALSE
12808,64.0,426.0,ELLENBORO,35.3892,-81.7581,"ELLENBORO, NC",187.048,206 mi,814.0,554.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,7343.0,ELLENBORO,35.389195,-81.758135,NC,FALSE
12830,0.0,596.0,FAIR BLUFF,34.2868,-79.0014,"FAIR BLUFF, NC",194.518,237 mi,138.0,104.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1043.0,FAIR BLUFF,34.286816,-79.001382,NC,FALSE
12836,0.0,8.0,FAIRVIEW,35.5174,-82.378,"FAIRVIEW, NC",166.227,201 mi,613.0,1476.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,8655.0,FAIRVIEW,35.517421,-82.378042,NC,FALSE
12851,45.0,35.0,FLAT ROCK,35.288,-82.3947,"FLAT ROCK, NC",154.608,179 mi,527.0,1234.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,7603.0,FLAT ROCK,35.288036,-82.394669,NC,FALSE
12856,378.0,663.0,FLETCHER,35.4518,-82.4457,"FLETCHER, NC",160.327,192 mi,1079.0,2610.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,15283.0,FLETCHER,35.451829,-82.445701,NC,FALSE
12859,159.0,3371.0,FOREST CITY,35.3062,-81.8726,"FOREST CITY, NC",178.461,195 mi,1275.0,1219.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,16699.0,FOREST CITY,35.306241,-81.872600,NC,FALSE
12890,0.0,0.0,GERTON,35.4759,-82.3505,"GERTON, NC",165.295,200 mi,18.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,255.0,GERTON,35.475901,-82.350480,NC,FALSE
12932,46.0,1477.0,GROVER,35.1986,-81.4838,"GROVER, NC",192.998,205 mi,287.0,166.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,3970.0,GROVER,35.198574,-81.483781,NC,FALSE
12965,630.0,2594.0,HENDERSONVILLE,35.3317,-82.4739,"HENDERSONVILLE, NC",153.371,182 mi,4310.0,9282.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,61413.0,HENDERSONVILLE,35.331741,-82.473932,NC,FALSE
12970,0.0,110.0,HENRIETTA,35.2592,-81.7886,"HENRIETTA, NC",180.523,196 mi,14.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,593.0,HENRIETTA,35.259155,-81.788612,NC,FALSE
13047,348.0,3639.0,KINGS MOUNTAIN,35.2442,-81.3778,"KINGS MOUNTAIN, NC",199.765,212 mi,1999.0,1480.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,20500.0,KINGS MOUNTAIN,35.244245,-81.377832,NC,FALSE
13062,35.0,77.0,LAKE LURE,35.4772,-82.1617,"LAKE LURE, NC",173.107,215 mi,176.0,466.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,2072.0,LAKE LURE,35.477196,-82.161705,NC,FALSE
13073,0.0,22.0,LATTIMORE,35.3182,-81.6596,"LATTIMORE, NC",188.852,204 mi,0.0,22.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,214.0,LATTIMORE,35.318233,-81.659574,NC,FALSE
13082,3.0,1156.0,LAWNDALE,35.4547,-81.5596,"LAWNDALE, NC",198.804,219 mi,717.0,354.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,6503.0,LAWNDALE,35.454659,-81.559555,NC,FALSE
13114,0.0,0.0,LITTLE SWITZERLAND,35.8407,-82.0986,"LITTLE SWITZERLAND, NC",193.199,246 mi,0.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,0.0,LITTLE SWITZERLAND,35.840722,-82.098559,NC,FALSE
13121,0.0,550.0,LONGWOOD,33.9916,-78.5496,"LONGWOOD, NC",197.982,256 mi,28.0,27.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,390.0,LONGWOOD,33.991603,-78.549570,NC,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,17.0,2839.0,UNIONTOWN,32.4311,-87.4822,"UNIONTOWN, AL",201.533,NaN,70.0,184.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,722.0,UNIONTOWN,32.431068,-87.482163,AL,FALSE
848,17.0,2839.0,UNIONTOWN,32.4311,-87.4822,"UNIONTOWN, AL",374.403,NaN,70.0,184.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,722.0,UNIONTOWN,32.431068,-87.482163,AL,FALSE
850,0.0,154.0,URIAH,31.325,-87.5991,"URIAH, AL",251.877,NaN,89.0,107.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1197.0,URIAH,31.325005,-87.599127,AL,FALSE
854,0.0,154.0,URIAH,31.325,-87.5991,"URIAH, AL",386.318,NaN,89.0,107.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1197.0,URIAH,31.325005,-87.599127,AL,FALSE
856,0.0,262.0,VINEGAR BEND,31.1991,-88.3887,"VINEGAR BEND, AL",293.023,NaN,50.0,34.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,517.0,VINEGAR BEND,31.199096,-88.388739,AL,FALSE
860,0.0,262.0,VINEGAR BEND,31.1991,-88.3887,"VINEGAR BEND, AL",433.842,NaN,50.0,34.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,517.0,VINEGAR BEND,31.199096,-88.388739,AL,FALSE
862,0.0,335.0,VREDENBURGH,31.7715,-87.3826,"VREDENBURGH, AL",222.009,NaN,4.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,59.0,VREDENBURGH,31.771512,-87.382559,AL,FALSE
866,0.0,335.0,VREDENBURGH,31.7715,-87.3826,"VREDENBURGH, AL",369.757,NaN,4.0,0.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,59.0,VREDENBURGH,31.771512,-87.382559,AL,FALSE
868,0.0,135.0,WAGARVILLE,31.3873,-88.0797,"WAGARVILLE, AL",270.637,NaN,59.0,35.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,882.0,WAGARVILLE,31.387319,-88.079654,AL,FALSE
872,0.0,135.0,WAGARVILLE,31.3873,-88.0797,"WAGARVILLE, AL",413.711,NaN,59.0,35.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,882.0,WAGARVILLE,31.387319,-88.079654,AL,FALSE
874,0.0,209.0,WARD,32.3003,-88.142,"WARD, AL",239.989,NaN,16.0,40.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,152.0,WARD,32.300344,-88.141975,AL,FALSE
878,0.0,209.0,WARD,32.3003,-88.142,"WARD, AL",412.816,NaN,16.0,40.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,152.0,WARD,32.300344,-88.141975,AL,FALSE
880,0.0,655.0,WHATLEY,31.6393,-87.6369,"WHATLEY, AL",239.383,NaN,82.0,44.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,200.0,WHATLEY,31.639318,-87.636900,AL,FALSE
884,0.0,655.0,WHATLEY,31.6393,-87.6369,"WHATLEY, AL",385.56,NaN,82.0,44.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,200.0,WHATLEY,31.639318,-87.636900,AL,FALSE
886,0.0,822.0,WILMER,30.8442,-88.3512,"WILMER, AL",307.129,NaN,493.0,723.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,9594.0,WILMER,30.844238,-88.351243,AL,FALSE
890,0.0,822.0,WILMER,30.8442,-88.3512,"WILMER, AL",436.564,NaN,493.0,723.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,9594.0,WILMER,30.844238,-88.351243,AL,FALSE
892,0.0,20.0,WING,31.0478,-86.6742,"WING, AL",230.327,NaN,14.0,27.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,272.0,WING,31.047796,-86.674187,AL,FALSE
896,0.0,20.0,WING,31.0478,-86.6742,"WING, AL",336.445,NaN,14.0,27.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,272.0,WING,31.047796,-86.674187,AL,FALSE
898,0.0,2754.0,YORK,32.4323,-88.1836,"YORK, AL",238.357,NaN,122.0,220.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,587.0,YORK,32.432254,-88.183591,AL,FALSE
902,0.0,2754.0,YORK,32.4323,-88.1836,"YORK, AL",415.378,NaN,122.0,220.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,587.0,YORK,32.432254,-88.183591,AL,FALSE
904,0.0,0.0,AVON,35.337,-75.5173,"AVON, NC",517.47,NaN,12.0,131.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,926.0,AVON,35.336950,-75.517266,NC,FALSE
908,0.0,0.0,AVON,35.337,-75.5173,"AVON, NC",391.898,NaN,12.0,131.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,926.0,AVON,35.336950,-75.517266,NC,FALSE
909,0.0,0.0,BUXTON,35.2595,-75.5533,"BUXTON, NC",514.608,NaN,69.0,76.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1025.0,BUXTON,35.259518,-75.553269,NC,FALSE
913,0.0,0.0,BUXTON,35.2595,-75.5533,"BUXTON, NC",387.28,NaN,69.0,76.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1025.0,BUXTON,35.259518,-75.553269,NC,FALSE
914,0.0,0.0,FRISCO,35.2394,-75.5646,"FRISCO, NC",513.763,NaN,132.0,165.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,874.0,FRISCO,35.239423,-75.564581,NC,FALSE
918,0.0,0.0,FRISCO,35.2394,-75.5646,"FRISCO, NC",385.992,NaN,132.0,165.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,874.0,FRISCO,35.239423,-75.564581,NC,FALSE
919,0.0,0.0,SALVO,35.5525,-75.4713,"SALVO, NC",522.658,NaN,14.0,30.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,225.0,SALVO,35.552458,-75.471299,NC,FALSE
923,0.0,0.0,SALVO,35.5525,-75.4713,"SALVO, NC",402.372,NaN,14.0,30.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,225.0,SALVO,35.552458,-75.471299,NC,FALSE
924,0.0,0.0,WAVES,35.5652,-75.4661,"WAVES, NC",523.113,NaN,23.0,42.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,65.0,WAVES,35.565235,-75.466100,NC,FALSE
928,0.0,0.0,WAVES,35.5652,-75.4661,"WAVES, NC",403.116,NaN,23.0,42.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,65.0,WAVES,35.565235,-75.466100,NC,FALSE

In [273]:
full_combinations[(full_combinations["Uni CityState"] == full_combinations["CityState"])].head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
1457,44502.0,91469.0,PHOENIX,33.5278,-112.083,"PHOENIX, AZ",5.4969,9.9 mi,64238.0,144650.0,...,"PHOENIX, AZ",33.4484,-112.074,UA,1019324.0,PHOENIX,33.527766,-112.083449,AZ,TRUE
1574,25626.0,33377.0,TUCSON,32.2358,-110.959,"TUCSON, AZ",0.602764,1.0 mi,49787.0,101917.0,...,"TUCSON, AZ",32.2319,-110.95,UA,692157.0,TUCSON,32.235782,-110.959324,AZ,TRUE
8459,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
8461,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
9229,23897.0,9048.0,BERKELEY,37.8755,-122.27,"BERKELEY, CA",0.659023,1.2 mi,3321.0,25577.0,...,"BERKELEY, CA",37.8719,-122.259,UCB,78282.0,BERKELEY,37.875502,-122.269705,CA,TRUE

### Drop Pairs Beyond 700 miles

In [274]:
full_combinations["Distance"].count()

76402

In [275]:
full_combinations = full_combinations[(full_combinations["Distance"] <700)]
full_combinations.count()

Asian Population                          75558
Black Population                          75558
City                                      75558
City Lat                                  75558
City Lng                                  75558
CityState                                 75558
Distance                                  75558
Distance_Text                             52701
Education Associates                      75558
Education Bachelors                       75558
Education Doctorate                       75558
Education GED                             75558
Education High School                     75558
Education Masters                         75558
Education None                            75558
Education Professional                    75558
Employment Female Computer Engineering    75558
Employment Labor Force                    75558
Employment Male Computer Engineering      75558
Employment Unemployed                     75558
Google_URL                                53000
Hispanic Population                       75558
Household Income                          70847
Income Per Capita                         74410
Median Age                                74616
Median Female Age                         73805
Median Gross Rent                         61057
Median Home Value                         70437
Median Male Age                           73823
Native American Population                75558
Population                                75558
Poverty                                   75558
State                                     75558
Time                                      52701
Time_Text                                 52701
Uni CityState                             75558
Uni Lat                                   75558
Uni Lng                                   75558
University                                75558
White Population                          75558
city                                      75558
lat                                       75558
lng                                       75558
state                                     75558
Physical_Campus                           75558
dtype: int64

In [276]:
full_combinations.sort_values("Distance", ascending=True)

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
5760,24294.0,11309.0,ANN ARBOR,42.2727,-83.7398,"ANN ARBOR, MI",0.584443,0.9 mi,4682.0,27382.0,...,"DETROIT, MI",42.2808,-83.743,UMICH,117743.0,ANN ARBOR,42.272670,-83.739813,MI,FALSE
1574,25626.0,33377.0,TUCSON,32.2358,-110.959,"TUCSON, AZ",0.602764,1.0 mi,49787.0,101917.0,...,"TUCSON, AZ",32.2319,-110.95,UA,692157.0,TUCSON,32.235782,-110.959324,AZ,TRUE
50700,15250.0,119841.0,NASHVILLE,36.1465,-86.792,"NASHVILLE, TN",0.60831,1.9 mi,16460.0,75790.0,...,"NASHVILLE, TN",36.1447,-86.8027,VAND,281561.0,NASHVILLE,36.146455,-86.791994,TN,TRUE
9229,23897.0,9048.0,BERKELEY,37.8755,-122.27,"BERKELEY, CA",0.659023,1.2 mi,3321.0,25577.0,...,"BERKELEY, CA",37.8719,-122.259,UCB,78282.0,BERKELEY,37.875502,-122.269705,CA,TRUE
49395,69239.0,43027.0,PORTLAND,45.519,-122.659,"PORTLAND, OR",0.889871,1.2 mi,46313.0,169107.0,...,"PORTLAND, OR",45.5231,-122.677,UP,692328.0,PORTLAND,45.518978,-122.659133,OR,TRUE
40919,28109.0,313530.0,SAINT LOUIS,38.6384,-90.3003,"SAINT LOUIS, MO",0.914223,2.0 mi,43516.0,136180.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,554227.0,SAINT LOUIS,38.638412,-90.300284,MO,TRUE
27311,28451.0,112529.0,PITTSBURGH,40.4455,-79.9785,"PITTSBURGH, PA",0.978374,1.4 mi,42407.0,109028.0,...,"PITTSBURGH, PA",40.4406,-79.9959,PENN,526699.0,PITTSBURGH,40.445496,-79.978482,PA,TRUE
31360,2064.0,934.0,HIGHLAND PARK,40.5008,-74.4279,"HIGHLAND PARK, NJ",1.02647,1.4 mi,352.0,2411.0,...,"JERSEY CITY, NJ",40.5008,-74.4474,RUT,10120.0,HIGHLAND PARK,40.500795,-74.427911,NJ,FALSE
48235,23822.0,316431.0,WASHINGTON,38.9029,-77.0268,"WASHINGTON, DC",1.19489,1.4 mi,14040.0,105874.0,...,"WASHINGTON, DC",38.8997,-77.0486,GW,260208.0,WASHINGTON,38.902853,-77.026798,DC,TRUE
14615,5026.0,8207.0,NEW BRUNSWICK,40.4836,-74.4425,"NEW BRUNSWICK, NJ",1.21367,2.0 mi,899.0,3250.0,...,"JERSEY CITY, NJ",40.5008,-74.4474,RUT,38207.0,NEW BRUNSWICK,40.483638,-74.442460,NJ,FALSE
31042,4101.0,820.0,EDGEWATER,40.8239,-73.9742,"EDGEWATER, NJ",1.28063,7.2 mi,320.0,3901.0,...,"NEW YORK, NY",40.8075,-73.9626,CU,6274.0,EDGEWATER,40.823877,-73.974152,NJ,FALSE
43188,3043.0,1432.0,ALLSTON,42.358,-71.1286,"ALLSTON, MA",1.29649,3.1 mi,270.0,4075.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,11586.0,ALLSTON,42.358016,-71.128608,MA,FALSE
44328,2301.0,3897.0,ROXBURY CROSSING,42.3321,-71.0965,"ROXBURY CROSSING, MA",1.34913,2.2 mi,344.0,1424.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,7209.0,ROXBURY CROSSING,42.332090,-71.096545,MA,FALSE
9641,17780.0,1639.0,DAVIS,38.5487,-121.74,"DAVIS, CA",1.37989,3.0 mi,1749.0,10846.0,...,"DAVIS, CA",38.5382,-121.762,UCD,47304.0,DAVIS,38.548672,-121.739983,CA,TRUE
37909,7523.0,13237.0,EVANSTON,42.0452,-87.6985,"EVANSTON, IL",1.42399,2.0 mi,1759.0,14974.0,...,"EVANSTON, IL",42.0565,-87.6753,NU,54597.0,EVANSTON,42.045205,-87.698468,IL,TRUE
37910,7523.0,13237.0,EVANSTON,42.0452,-87.6985,"EVANSTON, IL",1.42399,2.0 mi,1759.0,14974.0,...,"CHICAGO, IL",42.0565,-87.6753,NU,54597.0,EVANSTON,42.045205,-87.698468,IL,FALSE
39536,284426.0,46844.0,SAN FRANCISCO,37.7642,-122.429,"SAN FRANCISCO, CA",1.48334,2.5 mi,36502.0,215189.0,...,"SAN FRANCISCO, CA",37.7766,-122.451,UCB,409698.0,SAN FRANCISCO,37.764229,-122.428560,CA,TRUE
43384,16166.0,11476.0,CAMBRIDGE,42.3733,-71.1074,"CAMBRIDGE, MA",1.57779,3.9 mi,1561.0,20965.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,73204.0,CAMBRIDGE,42.373310,-71.107411,MA,FALSE
8459,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
8461,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
43368,8305.0,1315.0,BROOKLINE,42.3345,-71.1286,"BROOKLINE, MA",1.62406,3.8 mi,828.0,9917.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,38063.0,BROOKLINE,42.334493,-71.128647,MA,FALSE
12670,8932.0,8156.0,CHAPEL HILL,35.9078,-79.0758,"CHAPEL HILL, NC",1.63239,4.7 mi,2599.0,16352.0,...,"CHAPEL HILL, NC",35.9049,-79.0469,UNC,73224.0,CHAPEL HILL,35.907802,-79.075798,NC,TRUE
30910,3310.0,740.0,CLIFFSIDE PARK,40.8221,-73.9878,"CLIFFSIDE PARK, NJ",1.6617,8.4 mi,967.0,5009.0,...,"NEW YORK, NY",40.8075,-73.9626,CU,17337.0,CLIFFSIDE PARK,40.822081,-73.987834,NJ,FALSE
46894,49200.0,426685.0,ATLANTA,33.7976,-84.3842,"ATLANTA, GA",1.66719,2.2 mi,33864.0,181339.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,424542.0,ATLANTA,33.797612,-84.384225,GA,TRUE
45102,744.0,121.0,DURHAM,43.1172,-70.9188,"DURHAM, NH",1.76269,2.9 mi,146.0,1325.0,...,"DURHAM, NH",43.1389,-70.937,UNH,14153.0,DURHAM,43.117186,-70.918788,NH,TRUE
7400,24.0,136.0,FORT MYER,38.8801,-77.0708,"FORT MYER, VA",1.80511,2.0 mi,45.0,62.0,...,"WASHINGTON, DC",38.8997,-77.0486,GW,818.0,FORT MYER,38.880110,-77.070778,VA,FALSE
29799,3785.0,291.0,LA JOLLA,32.8563,-117.25,"LA JOLLA, CA",1.88175,4.1 mi,1032.0,10374.0,...,"LA JOLLA, CA",32.8801,-117.234,UCSD,31635.0,LA JOLLA,32.856347,-117.250058,CA,TRUE
43328,26742.0,14750.0,BOSTON,42.3535,-71.0657,"BOSTON, MA",2.04445,2.5 mi,4626.0,45894.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,159838.0,BOSTON,42.353533,-71.065676,MA,TRUE
43191,5119.0,2098.0,AMHERST,42.377,-72.4914,"AMHERST, MA",2.05313,2.6 mi,679.0,3253.0,...,"AMHERST, MA",42.3912,-72.5267,UMASS,32300.0,AMHERST,42.377001,-72.491423,MA,TRUE
44332,571.0,15517.0,ROXBURY,42.324,-71.085,"ROXBURY, MA",2.10417,3.3 mi,857.0,2803.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,3953.0,ROXBURY,42.324029,-71.085017,MA,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22290,0.0,2.0,IMLAY,40.5483,-118.034,"IMLAY, NV",695.701,NaN,28.0,12.0,...,"TUCSON, AZ",32.2319,-110.95,UA,210.0,IMLAY,40.548280,-118.034358,NV,FALSE
7445,1.0,0.0,PREWITT,35.3518,-108.089,"PREWITT, NM",695.781,NaN,46.0,15.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,97.0,PREWITT,35.351817,-108.088619,NM,FALSE
8072,0.0,0.0,VILLANUEVA,35.2313,-105.336,"VILLANUEVA, NM",695.82,NaN,4.0,0.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,38.0,VILLANUEVA,35.231348,-105.336283,NM,FALSE
18956,114.0,8.0,SHELBY,48.5088,-111.73,"SHELBY, MT",695.947,NaN,150.0,247.0,...,"DENVER, CO",39.6766,-104.962,DU,3291.0,SHELBY,48.508807,-111.729540,MT,FALSE
18908,20.0,0.0,SAINT IGNATIUS,47.3305,-114.01,"SAINT IGNATIUS, MT",696.131,NaN,208.0,261.0,...,"DENVER, CO",39.6766,-104.962,DU,1938.0,SAINT IGNATIUS,47.330512,-114.010198,MT,FALSE
17816,3.0,0.0,ALBERTON,46.8989,-114.626,"ALBERTON, MT",696.175,NaN,153.0,128.0,...,"DENVER, CO",39.6766,-104.962,DU,1472.0,ALBERTON,46.898852,-114.625586,MT,FALSE
7096,0.0,0.0,MESILLA PARK,32.21,-106.715,"MESILLA PARK, NM",696.19,NaN,25.0,157.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,1787.0,MESILLA PARK,32.210044,-106.714691,NM,FALSE
17246,13.0,0.0,RUSHVILLE,42.6969,-102.467,"RUSHVILLE, NE",696.206,NaN,84.0,148.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,1017.0,RUSHVILLE,42.696937,-102.467053,NE,FALSE
6107,0.0,40.0,CHAMA,36.875,-106.627,"CHAMA, NM",696.538,NaN,121.0,95.0,...,"SAN ANTONIO, TX",29.4241,-98.4936,UTSA,821.0,CHAMA,36.875021,-106.627345,NM,FALSE
6486,0.0,0.0,FENCE LAKE,34.7668,-108.685,"FENCE LAKE, NM",697.004,NaN,16.0,0.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,110.0,FENCE LAKE,34.766798,-108.684918,NM,FALSE
9995,2.0,0.0,EAGLEVILLE,41.2999,-120.079,"EAGLEVILLE, CA",697.357,NaN,15.0,14.0,...,"PHOENIX, AZ",33.4484,-112.074,UA,148.0,EAGLEVILLE,41.299883,-120.078511,CA,FALSE
6016,0.0,0.0,CAPULIN,36.7673,-104,"CAPULIN, NM",697.388,NaN,0.0,3.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,49.0,CAPULIN,36.767287,-103.999599,NM,FALSE
29,12.0,4231.0,ALICEVILLE,33.0772,-88.2027,"ALICEVILLE, AL",697.496,NaN,204.0,297.0,...,"MIAMI, FL",25.7617,-80.1918,MIAMI,1118.0,ALICEVILLE,33.077211,-88.202696,AL,FALSE
6142,14.0,47.0,CHURCH ROCK,35.6067,-108.516,"CHURCH ROCK, NM",697.671,NaN,211.0,77.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,19.0,CHURCH ROCK,35.606670,-108.515625,NM,FALSE
10073,42.0,4.0,HAPPY CAMP,41.6879,-123.483,"HAPPY CAMP, CA",697.737,NaN,41.0,87.0,...,"LA JOLLA, CA",32.8801,-117.234,UCSD,655.0,HAPPY CAMP,41.687905,-123.483269,CA,FALSE
7768,0.0,0.0,SERAFINA,35.3464,-105.301,"SERAFINA, NM",698.124,NaN,0.0,4.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,120.0,SERAFINA,35.346377,-105.300633,NM,FALSE
6261,0.0,0.0,COUNSELOR,36.1656,-107.564,"COUNSELOR, NM",698.207,NaN,13.0,3.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,0.0,COUNSELOR,36.165554,-107.563530,NM,FALSE
8032,0.0,0.0,VALMORA,35.8253,-104.927,"VALMORA, NM",698.223,NaN,0.0,0.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,0.0,VALMORA,35.825334,-104.927204,NM,FALSE
22462,0.0,11.0,WADSWORTH,39.6651,-119.427,"WADSWORTH, NV",698.223,NaN,78.0,49.0,...,"TUCSON, AZ",32.2319,-110.95,UA,322.0,WADSWORTH,39.665116,-119.426703,NV,FALSE
6494,0.0,0.0,FLORA VISTA,36.8173,-108.094,"FLORA VISTA, NM",698.237,NaN,131.0,80.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,1383.0,FLORA VISTA,36.817310,-108.094079,NM,FALSE
6478,298.0,448.0,FARMINGTON,36.6229,-108.18,"FARMINGTON, NM",698.312,NaN,3570.0,3886.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,35887.0,FARMINGTON,36.622898,-108.179508,NM,FALSE
22294,159.0,8.0,INCLINE VILLAGE,39.241,-119.937,"INCLINE VILLAGE, NV",698.352,NaN,450.0,2349.0,...,"TUCSON, AZ",32.2319,-110.95,UA,8198.0,INCLINE VILLAGE,39.241034,-119.936664,NV,FALSE
6112,0.0,0.0,CHAMBERINO,32.0441,-106.79,"CHAMBERINO, NM",698.368,NaN,10.0,48.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,534.0,CHAMBERINO,32.044128,-106.789582,NM,FALSE
18433,3.0,0.0,HINSDALE,48.4776,-107.06,"HINSDALE, MT",698.69,NaN,18.0,43.0,...,"MINNEAPOLIS, MN",44.9754,-93.2331,MINN,428.0,HINSDALE,48.477635,-107.059858,MT,FALSE
22270,3.0,0.0,GOLCONDA,41.0446,-117.181,"GOLCONDA, NV",698.92,NaN,25.0,37.0,...,"TUCSON, AZ",32.2319,-110.95,UA,345.0,GOLCONDA,41.044580,-117.181049,NV,FALSE
18581,0.0,0.0,LODGE GRASS,45.253,-107.547,"LODGE GRASS, MT",699.248,NaN,130.0,126.0,...,"MINNEAPOLIS, MN",44.9754,-93.2331,MINN,182.0,LODGE GRASS,45.252966,-107.547277,MT,FALSE
6946,0.0,0.0,LOCO HILLS,32.8142,-103.996,"LOCO HILLS, NM",699.283,NaN,0.0,0.0,...,"SALT LAKE CITY, UT",40.7649,-111.842,UTAH,34.0,LOCO HILLS,32.814203,-103.996454,NM,FALSE
7477,0.0,0.0,RAMAH,35.0088,-108.361,"RAMAH, NM",699.288,NaN,60.0,195.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,434.0,RAMAH,35.008846,-108.361162,NM,FALSE
7808,0.0,16.0,SPRINGER,36.3562,-104.472,"SPRINGER, NM",699.335,NaN,54.0,224.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,1287.0,SPRINGER,36.356194,-104.471772,NM,FALSE
8739,0.0,0.0,FELT,36.5549,-102.796,"FELT, OK",699.517,NaN,6.0,32.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,170.0,FELT,36.554897,-102.795910,OK,FALSE

In [277]:
full_combinations.columns

Index(['Asian Population', 'Black Population', 'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni CityState', 'Uni Lat',
       'Uni Lng', 'University', 'White Population', 'city', 'lat', 'lng',
       'state', 'Physical_Campus'],
      dtype='object')

In [278]:
full_combinations = full_combinations[['Asian Population', 'Black Population', 
                                       'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni Lat', 'Uni Lng',
       'University', 'Uni CityState', 'White Population', 'Physical_Campus']]

In [279]:
full_combinations["CityState"].nunique()

27238

### Export the Results

In [280]:
full_combinations.to_csv("Outputs/02-Distances_Between_Cities.csv", index=False)

In [281]:
full_combinations.to_sql("FullDistances", conn, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [282]:
# Check Tables in SQLite
cur = conn.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
FullDistances
Full_Data
Impressions
Minimum_Distances
Rules_Added
Zip_Census

### Export to Cloud SQL

In [283]:
engine = create_engine('mysql+mysqldb://trilogy:DataRocks@35.227.28.228/mapping_data?unix_socket=/cloudsql/sql-projects:us-east1:opportunity-db')
conn = engine.connect()

full_combinations.to_sql("All_Distances", conn, if_exists="replace", index=False)