## Closest University
---
In this Jupyter notebook, we associate each city with the single nearest Trilogy campus using Google's distance matrix, and then Vincenty's distance formula.

If time column has a value, then pick shortest time, otherwise default to vincenty distance value in column ["Distance"]

### Dependencies

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time 
import sqlite3
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Read the City Pair Combinations

In [2]:
conn = sqlite3.connect("Opportunity_Map.db")
distance_values = pd.read_sql("select * from FullDistances", conn)
distance_values.head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,University,Uni CityState,White Population,Physical_Campus
0,0.0,53.0,CARRSVILLE,36.737390,-76.840511,"CARRSVILLE, VA",65.400534,79.1 mi,157.0,113.0,...,93.0,VA,5665.0,1 hour 34 mins,37.548987,-77.453429,UR,"RICHMOND, VA",1549.0,FALSE
1,0.0,53.0,CARRSVILLE,36.737390,-76.840511,"CARRSVILLE, VA",135.829465,176 mi,157.0,113.0,...,93.0,VA,10258.0,2 hours 51 mins,35.904912,-79.046913,UNC,"CHAPEL HILL, NC",1549.0,FALSE
2,0.0,53.0,CARRSVILLE,36.737390,-76.840511,"CARRSVILLE, VA",65.400534,79.1 mi,157.0,113.0,...,93.0,VA,5665.0,1 hour 34 mins,37.548987,-77.453429,UR,"RICHMOND, VA",1549.0,FALSE
3,0.0,53.0,CARRSVILLE,36.737390,-76.840511,"CARRSVILLE, VA",149.564762,185 mi,157.0,113.0,...,93.0,VA,11045.0,3 hours 4 mins,38.899715,-77.048599,GW,"WASHINGTON, DC",1549.0,FALSE
4,0.0,613.0,CARSON,37.016961,-77.395057,"CARSON, VA",36.830103,41.3 mi,109.0,91.0,...,20.0,VA,2610.0,44 mins,37.548987,-77.453429,UR,"RICHMOND, VA",680.0,FALSE

In [3]:
distance_values.dtypes

Asian Population                          float64
Black Population                          float64
City                                       object
City Lat                                  float64
City Lng                                  float64
CityState                                  object
Distance                                  float64
Distance_Text                              object
Education Associates                      float64
Education Bachelors                       float64
Education Doctorate                       float64
Education GED                             float64
Education High School                     float64
Education Masters                         float64
Education None                            float64
Education Professional                    float64
Employment Female Computer Engineering    float64
Employment Labor Force                    float64
Employment Male Computer Engineering      float64
Employment Unemployed                     float64
Google_URL                                 object
Hispanic Population                       float64
Household Income                          float64
Income Per Capita                         float64
Median Age                                float64
Median Female Age                         float64
Median Gross Rent                         float64
Median Home Value                         float64
Median Male Age                           float64
Native American Population                float64
Population                                float64
Poverty                                   float64
State                                      object
Time                                      float64
Time_Text                                  object
Uni Lat                                   float64
Uni Lng                                   float64
University                                 object
Uni CityState                              object
White Population                          float64
Physical_Campus                            object
dtype: object

In [4]:
distance_values[distance_values["CityState"] == "HOUSTON, TX"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,University,Uni CityState,White Population,Physical_Campus
9845,230549.0,684416.0,HOUSTON,29.775734,-95.414548,"HOUSTON, TX",5.801359,8.9 mi,100014.0,349920.0,...,633609.0,TX,1147.0,19 mins,29.719949,-95.342233,UT,"HOUSTON, TX",1775897.0,TRUE
9846,230549.0,684416.0,HOUSTON,29.775734,-95.414548,"HOUSTON, TX",143.373805,162 mi,100014.0,349920.0,...,633609.0,TX,9329.0,2 hours 35 mins,30.284918,-97.734057,UT,"AUSTIN, TX",1775897.0,FALSE
9847,230549.0,684416.0,HOUSTON,29.775734,-95.414548,"HOUSTON, TX",186.906597,193 mi,100014.0,349920.0,...,633609.0,TX,10612.0,2 hours 57 mins,29.424100,-98.493600,UTSA,"SAN ANTONIO, TX",1775897.0,FALSE

In [5]:
distance_values[distance_values["CityState"] == "ABBOTT, TX"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,University,Uni CityState,White Population,Physical_Campus
9142,0.0,9.0,ABBOTT,31.881728,-97.08541,"ABBOTT, TX",181.440631,208 mi,90.0,120.0,...,109.0,TX,11491.0,3 hours 12 mins,29.719949,-95.342233,UT,"HOUSTON, TX",985.0,FALSE
9143,0.0,9.0,ABBOTT,31.881728,-97.08541,"ABBOTT, TX",68.416138,80.3 mi,90.0,120.0,...,109.0,TX,4534.0,1 hour 16 mins,32.841218,-96.784518,SMU,"DALLAS, TX",985.0,FALSE
9144,0.0,9.0,ABBOTT,31.881728,-97.08541,"ABBOTT, TX",116.535657,124 mi,90.0,120.0,...,109.0,TX,6637.0,1 hour 51 mins,30.284918,-97.734057,UT,"AUSTIN, TX",985.0,FALSE
9145,0.0,9.0,ABBOTT,31.881728,-97.08541,"ABBOTT, TX",188.928462,204 mi,90.0,120.0,...,109.0,TX,10994.0,3 hours 3 mins,29.424100,-98.493600,UTSA,"SAN ANTONIO, TX",985.0,FALSE

In [6]:
test = distance_values[distance_values["Time"].isnull()]

In [7]:
test.head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,University,Uni CityState,White Population,Physical_Campus
1087,8.0,667.0,MC KENNEY,36.989430,-77.720290,"MC KENNEY, VA",105.133375,None,158.0,173.0,...,401.0,VA,NaN,None,35.904912,-79.046913,UNC,"CHAPEL HILL, NC",1559.0,FALSE
1732,63.0,5226.0,SMITHFIELD,37.001261,-76.655932,"SMITHFIELD, VA",57.950293,None,1036.0,2281.0,...,2434.0,VA,NaN,None,37.548987,-77.453429,UR,"RICHMOND, VA",11609.0,FALSE
1883,0.0,0.0,TANGIER,37.829055,-75.984124,"TANGIER, VA",82.810104,None,10.0,24.0,...,76.0,VA,NaN,None,37.548987,-77.453429,UR,"RICHMOND, VA",487.0,FALSE
1884,0.0,0.0,TANGIER,37.829055,-75.984124,"TANGIER, VA",82.810104,None,10.0,24.0,...,76.0,VA,NaN,None,37.548987,-77.453429,UR,"RICHMOND, VA",487.0,FALSE
1885,0.0,0.0,TANGIER,37.829055,-75.984124,"TANGIER, VA",93.780761,None,10.0,24.0,...,76.0,VA,NaN,None,38.899715,-77.048599,GW,"WASHINGTON, DC",487.0,FALSE

In [8]:
test_2 = test.loc[test.groupby("CityState")["Distance"].idxmin()]

In [9]:
test_2.head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,University,Uni CityState,White Population,Physical_Campus
63043,0.0,0.0,ABBYVILLE,38.006359,-98.206324,"ABBYVILLE, KS",208.322033,None,18.0,10.0,...,26.0,KS,NaN,None,39.114100,-94.627500,KU,"KANSAS CITY, KS",330.0,FALSE
68253,708.0,541.0,ABERDEEN,45.482335,-98.532540,"ABERDEEN, SD",260.911653,None,2120.0,4344.0,...,3242.0,SD,NaN,None,44.975354,-93.233074,MINN,"MINNEAPOLIS, MN",28656.0,FALSE
48927,5.0,53.0,ABERNATHY,33.857882,-101.881538,"ABERNATHY, TX",302.981336,None,101.0,214.0,...,695.0,TX,NaN,None,32.841218,-96.784518,SMU,"DALLAS, TX",3452.0,FALSE
53744,0.0,0.0,ABIQUIU,36.282896,-106.411988,"ABIQUIU, NM",247.078038,None,0.0,142.0,...,78.0,NM,NaN,None,39.676617,-104.961896,DU,"DENVER, CO",524.0,FALSE
52540,22.0,381.0,ABITA SPRINGS,30.484687,-89.953028,"ABITA SPRINGS, LA",327.007194,None,188.0,1144.0,...,816.0,LA,NaN,None,29.719949,-95.342233,UT,"HOUSTON, TX",7301.0,FALSE

In [10]:
test_2["CityState"].nunique()

5927

### Identify the Single Closest University for Each City

In [11]:
closest_location_google = distance_values[distance_values["Time"].notnull()].loc[distance_values.groupby("CityState")["Time"].idxmin()][["CityState", "University", "Distance"]]

In [12]:
#closest_location = crow_distances.loc[crow_distances.groupby("CityState")["crow_distance"].idxmin()][["CityState", "University", "crow_distance"]]

In [13]:
closest_location_google_pd = pd.DataFrame(closest_location_google)
closest_location_google_pd.head(10)

               CityState University    Distance
14746.0   AARONSBURG, PA       PENN  140.339859
42505.0    ABBEVILLE, AL      GTECH  157.537626
27582.0    ABBEVILLE, GA      GTECH  138.382298
10872.0    ABBEVILLE, LA         UT  189.538012
37355.0    ABBEVILLE, MS       VAND  187.693841
6132.0     ABBEVILLE, SC      GTECH  116.574634
19110.0        ABBOT, ME        UNH  158.938804
32687.0   ABBOTSFORD, WI       MINN  144.634102
9143.0        ABBOTT, TX        SMU   68.416138
14749.0  ABBOTTSTOWN, PA       PENN   94.939740

In [14]:
closest_location_google_pd.nunique()

CityState     21355
University       35
Distance      21355
dtype: int64

In [15]:
vincentys_one = distance_values[distance_values["Time"].isnull()]

In [16]:
closest_location_vincentys = vincentys_one.loc[vincentys_one.groupby("CityState")["Distance"].idxmin()][["CityState", "University", "Distance"]]

In [17]:
closest_location_vincentys_pd = pd.DataFrame(closest_location_vincentys)
closest_location_vincentys_pd.head(10)

               CityState University    Distance
63043      ABBYVILLE, KS         KU  208.322033
68253       ABERDEEN, SD       MINN  260.911653
48927      ABERNATHY, TX        SMU  302.981336
53744        ABIQUIU, NM         DU  247.078038
52540  ABITA SPRINGS, LA         UT  327.007194
67892       ABSARAKA, ND       MINN  243.281935
64947      ABSAROKEE, MT       UTAH  348.736084
48930        ACKERLY, TX         UT  281.986828
68556       ACKERMAN, MS       VAND  235.433623
52544           ACME, LA         UT  239.030077

In [18]:
frames = [closest_location_google_pd, closest_location_vincentys_pd]
closest_location_pd = pd.concat(frames, join='outer')

In [19]:
closest_location_pd.head()

              CityState University    Distance
14746.0  AARONSBURG, PA       PENN  140.339859
42505.0   ABBEVILLE, AL      GTECH  157.537626
27582.0   ABBEVILLE, GA      GTECH  138.382298
10872.0   ABBEVILLE, LA         UT  189.538012
37355.0   ABBEVILLE, MS       VAND  187.693841

In [20]:
closest_location_pd.count()

CityState     27282
University    27282
Distance      27282
dtype: int64

In [21]:
closest_location_pd

                              CityState University    Distance
 14746.0                 AARONSBURG, PA       PENN  140.339859
 42505.0                  ABBEVILLE, AL      GTECH  157.537626
 27582.0                  ABBEVILLE, GA      GTECH  138.382298
 10872.0                  ABBEVILLE, LA         UT  189.538012
 37355.0                  ABBEVILLE, MS       VAND  187.693841
 6132.0                   ABBEVILLE, SC      GTECH  116.574634
 19110.0                      ABBOT, ME        UNH  158.938804
 32687.0                 ABBOTSFORD, WI       MINN  144.634102
 9143.0                      ABBOTT, TX        SMU   68.416138
 14749.0                ABBOTTSTOWN, PA       PENN   94.939740
NaN                                 NaN        NaN         NaN
 2168.0                       ABELL, MD         GW   47.038451
 32624.0                ABERCROMBIE, ND       MINN  196.867734
 2172.0     ABERDEEN PROVING GROUND, MD       PENN   59.949207
 46152.0                   ABERDEEN, ID       UTAH  164.420299
 2175.0                    ABERDEEN, MD       PENN   62.037623
 37356.0                   ABERDEEN, MS       VAND  187.510012
 11293.0                   ABERDEEN, NC        UNC   58.466696
 33911.0                   ABERDEEN, OH        OSU   98.211065
NaN                                 NaN        NaN         NaN
 7016.0                    ABERDEEN, WA         UW   74.769063
NaN                                 NaN        NaN         NaN
 42615.0                       ABIE, NE         KU  196.496571
 31468.0                    ABILENE, KS         KU  139.847089
 28362.0                    ABILENE, TX        SMU  176.084188
 43079.0                   ABINGDON, IL         NU  165.912617
 2177.0                    ABINGDON, MD         GW   56.273476
 12588.0                   ABINGDON, VA       UNCH  119.694981
 19470.0                   ABINGTON, MA       HARV   17.633752
 31782.0                   ABINGTON, PA       PENN   12.511147
...                                 ...        ...         ...
 57607.0                       YALE, OK        SMU  225.397560
 68554.0                       YALE, SD       MINN  237.094242
 68555.0                    YANKTON, SD       MINN  253.720683
 55862.0                    YATAHEY, NM         UA  243.537977
 68877.0                 YAZOO CITY, MS       VAND  310.992102
 62619.0                   YEADDISS, KY        OSU  203.283000
 62914.0              YELLOW JACKET, CO         DU  254.580667
 69927.0                YELLOW PINE, ID       UTAH  350.400951
 64945.0  YELLOWSTONE NATIONAL PARK, WY       UTAH  269.844936
 52536.0                  YELLVILLE, AR      WASHU  210.775529
 69168.0                  YERINGTON, NV       UTAH  410.557496
 55867.0                       YESO, NM         DU  359.709476
 48895.0                       YORK, AL      GTECH  238.356659
 68248.0                       YORK, ND       MINN  380.015808
 61378.0                   YORKTOWN, IA      WASHU  295.585011
 67671.0                 YOUNGSTOWN, FL        UCF  246.792655
 53736.0                YOUNGSVILLE, LA         UT  201.368454
 55875.0                YOUNGSVILLE, NM         DU  256.902545
 68249.0                  YPSILANTI, ND       MINN  284.664216
 57892.0                      YREKA, CA        UCD  227.048846
 53740.0                    ZACHARY, LA         UT  258.678506
 68250.0                       ZAHL, ND       MINN  556.759394
 68251.0                        ZAP, ND       MINN  446.983550
 68252.0                    ZEELAND, ND       MINN  325.871961
 59611.0                    ZEIGLER, IL         NU  298.018446
 63664.0                      ZENDA, KS         KU  231.513738
 69172.0                ZEPHYR COVE, NV       UTAH  446.048028
 65923.0                    ZORTMAN, MT       UTAH  508.479655
 55881.0                       ZUNI, NM         UA  216.876876
 65926.0                     ZURICH, MT       UTAH  562.458753

[33165 rows x 3 columns]

In [22]:
closest_location_pd = closest_location_pd[closest_location_pd["CityState"].notnull()].reset_index()

In [23]:
closest_location_pd = closest_location_pd[["CityState", "University", "Distance"]]

In [24]:
closest_location_pd.count()

CityState     27282
University    27282
Distance      27282
dtype: int64

In [25]:
closest_location_pd["Closest"] = True

In [26]:
closest_location_pd.count()

CityState     27282
University    27282
Distance      27282
Closest       27282
dtype: int64

In [27]:
distance_values.count()

Asian Population                          70093
Black Population                          70093
City                                      70093
City Lat                                  70093
City Lng                                  70093
CityState                                 70093
Distance                                  70093
Distance_Text                             47801
Education Associates                      70093
Education Bachelors                       70093
Education Doctorate                       70093
Education GED                             70093
Education High School                     70093
Education Masters                         70093
Education None                            70093
Education Professional                    70093
Employment Female Computer Engineering    70093
Employment Labor Force                    70093
Employment Male Computer Engineering      70093
Employment Unemployed                     70093
Google_URL                                48000
Hispanic Population                       70093
Household Income                          65698
Income Per Capita                         69022
Median Age                                69202
Median Female Age                         68462
Median Gross Rent                         56505
Median Home Value                         65273
Median Male Age                           68477
Native American Population                70093
Population                                70093
Poverty                                   70093
State                                     70093
Time                                      47801
Time_Text                                 47801
Uni Lat                                   70093
Uni Lng                                   70093
University                                70093
Uni CityState                             70093
White Population                          70093
Physical_Campus                           70093
dtype: int64

In [28]:
closest_location_pd.dtypes

CityState      object
University     object
Distance      float64
Closest          bool
dtype: object

In [29]:
distance_values.dtypes

Asian Population                          float64
Black Population                          float64
City                                       object
City Lat                                  float64
City Lng                                  float64
CityState                                  object
Distance                                  float64
Distance_Text                              object
Education Associates                      float64
Education Bachelors                       float64
Education Doctorate                       float64
Education GED                             float64
Education High School                     float64
Education Masters                         float64
Education None                            float64
Education Professional                    float64
Employment Female Computer Engineering    float64
Employment Labor Force                    float64
Employment Male Computer Engineering      float64
Employment Unemployed                     float64
Google_URL                                 object
Hispanic Population                       float64
Household Income                          float64
Income Per Capita                         float64
Median Age                                float64
Median Female Age                         float64
Median Gross Rent                         float64
Median Home Value                         float64
Median Male Age                           float64
Native American Population                float64
Population                                float64
Poverty                                   float64
State                                      object
Time                                      float64
Time_Text                                  object
Uni Lat                                   float64
Uni Lng                                   float64
University                                 object
Uni CityState                              object
White Population                          float64
Physical_Campus                            object
dtype: object

In [30]:
# Rejoin with the original dataframe to determine which university met the condition
minimum_distances = pd.merge(closest_location_pd, distance_values, on=["CityState", "Distance", "University"], how="left")

In [31]:
minimum_distances.count()

CityState                                 29119
University                                29119
Distance                                  29119
Closest                                   29119
Asian Population                          29119
Black Population                          29119
City                                      29119
City Lat                                  29119
City Lng                                  29119
Distance_Text                             22731
Education Associates                      29119
Education Bachelors                       29119
Education Doctorate                       29119
Education GED                             29119
Education High School                     29119
Education Masters                         29119
Education None                            29119
Education Professional                    29119
Employment Female Computer Engineering    29119
Employment Labor Force                    29119
Employment Male Computer Engineering      29119
Employment Unemployed                     29119
Google_URL                                22870
Hispanic Population                       29119
Household Income                          27437
Income Per Capita                         28727
Median Age                                28792
Median Female Age                         28501
Median Gross Rent                         23638
Median Home Value                         27248
Median Male Age                           28505
Native American Population                29119
Population                                29119
Poverty                                   29119
State                                     29119
Time                                      22731
Time_Text                                 22731
Uni Lat                                   29119
Uni Lng                                   29119
Uni CityState                             29119
White Population                          29119
Physical_Campus                           29119
dtype: int64

### Run Test Cases

In [32]:
minimum_distances.head(200)

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
0,"AARONSBURG, PA",PENN,140.339859,True,0.0,0.0,AARONSBURG,40.895701,-77.392432,165 mi,...,1058.0,202.0,PA,10568.0,2 hours 56 mins,40.440600,-79.995900,"PITTSBURGH, PA",1058.0,FALSE
1,"ABBEVILLE, AL",GTECH,157.537626,True,0.0,2274.0,ABBEVILLE,31.595148,-85.208852,184 mi,...,6470.0,1363.0,AL,10990.0,3 hours 3 mins,33.775618,-84.396285,"ATLANTA, GA",4064.0,FALSE
2,"ABBEVILLE, GA",GTECH,138.382298,True,41.0,1903.0,ABBEVILLE,31.976256,-83.339665,158 mi,...,4719.0,689.0,GA,9364.0,2 hours 36 mins,33.775618,-84.396285,"ATLANTA, GA",2676.0,FALSE
3,"ABBEVILLE, LA",UT,189.538012,True,1059.0,6457.0,ABBEVILLE,29.894612,-92.193173,231 mi,...,26078.0,5164.0,LA,13180.0,3 hours 40 mins,29.719949,-95.342233,"HOUSTON, TX",17932.0,FALSE
4,"ABBEVILLE, MS",VAND,187.693841,True,19.0,1502.0,ABBEVILLE,34.492325,-89.443056,254 mi,...,2974.0,428.0,MS,14485.0,4 hours 1 min,36.144703,-86.802655,"NASHVILLE, TN",1432.0,FALSE
5,"ABBEVILLE, SC",GTECH,116.574634,True,0.0,4410.0,ABBEVILLE,34.182407,-82.425607,148 mi,...,13005.0,3382.0,SC,9006.0,2 hours 30 mins,33.775618,-84.396285,"ATLANTA, GA",8475.0,FALSE
6,"ABBOT, ME",UNH,158.938804,True,0.0,0.0,ABBOT,45.229183,-69.596521,207 mi,...,698.0,81.0,ME,13019.0,3 hours 37 mins,43.138948,-70.937025,"DURHAM, NH",683.0,FALSE
7,"ABBOTSFORD, WI",MINN,144.634102,True,12.0,0.0,ABBOTSFORD,44.967530,-90.282268,152 mi,...,2943.0,366.0,WI,8781.0,2 hours 26 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",2780.0,FALSE
8,"ABBOTT, TX",SMU,68.416138,True,0.0,9.0,ABBOTT,31.881728,-97.085410,80.3 mi,...,1023.0,109.0,TX,4534.0,1 hour 16 mins,32.841218,-96.784518,"DALLAS, TX",985.0,FALSE
9,"ABBOTTSTOWN, PA",PENN,94.939740,True,15.0,17.0,ABBOTTSTOWN,39.895240,-76.978971,117 mi,...,3881.0,399.0,PA,7723.0,2 hours 9 mins,39.952219,-75.193214,"PHILADELPHIA, PA",3789.0,FALSE
10,"ABELL, MD",GW,47.038451,True,0.0,27.0,ABELL,38.263046,-76.737309,62.7 mi,...,443.0,91.0,MD,5127.0,1 hour 25 mins,38.899715,-77.048599,"WASHINGTON, DC",374.0,FALSE
11,"ABERCROMBIE, ND",MINN,196.867734,True,0.0,0.0,ABERCROMBIE,46.445185,-96.719993,219 mi,...,50.0,0.0,ND,12133.0,3 hours 22 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",50.0,FALSE
12,"ABERDEEN PROVING GROUND, MD",PENN,59.949207,True,118.0,552.0,ABERDEEN PROVING GROUND,39.488112,-76.144520,71.9 mi,...,2351.0,131.0,MD,4794.0,1 hour 20 mins,39.952219,-75.193214,"PHILADELPHIA, PA",1454.0,FALSE
13,"ABERDEEN, ID",UTAH,164.420299,True,0.0,0.0,ABERDEEN,43.020349,-112.869167,215 mi,...,3163.0,502.0,ID,12189.0,3 hours 23 mins,40.764937,-111.842102,"SALT LAKE CITY, UT",2454.0,FALSE
14,"ABERDEEN, MD",PENN,62.037623,True,829.0,6710.0,ABERDEEN,39.503056,-76.202096,70.9 mi,...,23520.0,3671.0,MD,4522.0,1 hour 15 mins,39.952219,-75.193214,"PHILADELPHIA, PA",14418.0,FALSE
15,"ABERDEEN, MS",VAND,187.510012,True,5.0,5623.0,ABERDEEN,33.843635,-88.565615,233 mi,...,11297.0,2383.0,MS,14950.0,4 hours 9 mins,36.144703,-86.802655,"NASHVILLE, TN",5482.0,FALSE
16,"ABERDEEN, NC",UNC,58.466696,True,440.0,3277.0,ABERDEEN,35.117305,-79.431532,67.5 mi,...,13478.0,2666.0,NC,5074.0,1 hour 25 mins,35.904912,-79.046913,"CHAPEL HILL, NC",8810.0,FALSE
17,"ABERDEEN, OH",OSU,98.211065,True,0.0,21.0,ABERDEEN,38.697011,-83.726747,123 mi,...,2303.0,662.0,OH,8844.0,2 hours 27 mins,40.014191,-83.030914,"COLUMBUS, OH",2225.0,FALSE
18,"ABERDEEN, WA",UW,74.769063,True,454.0,660.0,ABERDEEN,47.205638,-123.754329,129 mi,...,23952.0,4232.0,WA,8976.0,2 hours 30 mins,47.655335,-122.303520,"SEATTLE, WA",20262.0,FALSE
19,"ABIE, NE",KU,196.496571,True,0.0,0.0,ABIE,41.331136,-96.960029,242 mi,...,142.0,8.0,NE,13781.0,3 hours 50 mins,39.114100,-94.627500,"KANSAS CITY, KS",142.0,FALSE
20,"ABILENE, KS",KU,139.847089,True,21.0,48.0,ABILENE,38.956476,-97.219090,150 mi,...,10292.0,1004.0,KS,7908.0,2 hours 12 mins,39.114100,-94.627500,"KANSAS CITY, KS",9750.0,FALSE
21,"ABILENE, TX",SMU,176.084188,True,2289.0,12378.0,ABILENE,32.417556,-99.762595,189 mi,...,128473.0,21189.0,TX,10220.0,2 hours 50 mins,32.841218,-96.784518,"DALLAS, TX",100792.0,FALSE
22,"ABINGDON, IL",NU,165.912617,True,0.0,65.0,ABINGDON,40.796475,-90.396007,219 mi,...,3774.0,739.0,IL,12996.0,3 hours 37 mins,42.056459,-87.675267,"CHICAGO, IL",3575.0,FALSE
23,"ABINGDON, IL",NU,165.912617,True,0.0,65.0,ABINGDON,40.796475,-90.396007,219 mi,...,3774.0,739.0,IL,12996.0,3 hours 37 mins,42.056459,-87.675267,"EVANSTON, IL",3575.0,FALSE
24,"ABINGDON, MD",GW,56.273476,True,1393.0,3396.0,ABINGDON,39.466882,-76.295230,65.3 mi,...,29796.0,1774.0,MD,4679.0,1 hour 18 mins,38.899715,-77.048599,"WASHINGTON, DC",23811.0,FALSE
25,"ABINGDON, VA",UNCH,119.694981,True,178.0,540.0,ABINGDON,36.711512,-81.991300,195 mi,...,27259.0,3275.0,VA,10884.0,3 hours 1 min,35.307093,-80.735164,"CHARLOTTE, NC",26149.0,FALSE
26,"ABINGTON, MA",HARV,17.633752,True,450.0,403.0,ABINGTON,42.119964,-70.957216,24.5 mi,...,16112.0,462.0,MA,2375.0,40 mins,42.350500,-71.105399,"BOSTON, MA",14918.0,FALSE
27,"ABINGTON, PA",PENN,12.511147,True,934.0,2781.0,ABINGTON,40.125912,-75.125442,17.9 mi,...,17198.0,1138.0,PA,2395.0,40 mins,39.952219,-75.193214,"PHILADELPHIA, PA",12617.0,FALSE
28,"ABRAMS, WI",UWM,135.560418,True,5.0,0.0,ABRAMS,44.785785,-88.075082,156 mi,...,2666.0,165.0,WI,9431.0,2 hours 37 mins,43.076600,-89.412500,"MADISON, WI",2621.0,FALSE
29,"ABSECON, NJ",RUT,72.320292,True,4087.0,4807.0,ABSECON,39.452782,-74.472831,98.3 mi,...,38739.0,3305.0,NJ,5825.0,1 hour 37 mins,40.500819,-74.447399,"JERSEY CITY, NJ",26651.0,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,"ALBERTA, MN",MINN,142.755784,True,0.0,0.0,ALBERTA,45.491698,-96.066223,175 mi,...,245.0,2.0,MN,10537.0,2 hours 56 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",241.0,FALSE
171,"ALBERTA, VA",UR,52.443214,True,0.0,1158.0,ALBERTA,36.883200,-77.912944,71.1 mi,...,1857.0,225.0,VA,4489.0,1 hour 15 mins,37.548987,-77.453429,"RICHMOND, VA",642.0,FALSE
172,"ALBERTA, VA",UR,52.443214,True,0.0,1158.0,ALBERTA,36.883200,-77.912944,71.1 mi,...,1857.0,225.0,VA,4489.0,1 hour 15 mins,37.548987,-77.453429,"RICHMOND, VA",642.0,FALSE
173,"ALBERTSON, NC",UNC,88.478419,True,0.0,36.0,ALBERTSON,35.099668,-77.824788,112 mi,...,2750.0,918.0,NC,6807.0,1 hour 53 mins,35.904912,-79.046913,"CHAPEL HILL, NC",2188.0,FALSE
174,"ALBERTSON, NY",CU,16.470192,True,2469.0,9.0,ALBERTSON,40.770847,-73.652260,23.3 mi,...,7430.0,195.0,NY,2591.0,43 mins,40.807536,-73.962573,"NEW YORK, NY",4839.0,FALSE
175,"ALBERTVILLE, AL",GTECH,110.135732,True,12.0,501.0,ALBERTVILLE,34.294424,-86.211697,149 mi,...,33168.0,8828.0,AL,9825.0,2 hours 44 mins,33.775618,-84.396285,"ATLANTA, GA",29837.0,FALSE
176,"ALBERTVILLE, MN",MINN,28.131105,True,456.0,360.0,ALBERTVILLE,45.248559,-93.659820,35.6 mi,...,10982.0,117.0,MN,2526.0,42 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",9214.0,FALSE
177,"ALBIA, IA",KU,163.196484,True,23.0,6.0,ALBIA,41.026364,-92.815135,201 mi,...,6007.0,732.0,IA,11438.0,3 hours 11 mins,39.114100,-94.627500,"KANSAS CITY, KS",5673.0,FALSE
178,"ALBIN, WY",DU,127.520988,True,0.0,0.0,ALBIN,41.446986,-104.266331,146 mi,...,241.0,45.0,WY,8115.0,2 hours 15 mins,39.676617,-104.961896,"DENVER, CO",232.0,FALSE
179,"ALBION, CA",UCB,119.308604,True,48.0,2.0,ALBION,39.199469,-123.702253,150 mi,...,946.0,183.0,CA,10762.0,2 hours 59 mins,37.776647,-122.450683,"SAN FRANCISCO, CA",838.0,FALSE
180,"ALBION, IA",MINN,196.548757,True,0.0,0.0,ALBION,42.131988,-93.034602,235 mi,...,861.0,23.0,IA,13295.0,3 hours 42 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",834.0,FALSE
181,"ALBION, ID",UTAH,143.424794,True,0.0,0.0,ALBION,42.391733,-113.564720,174 mi,...,491.0,109.0,ID,10097.0,2 hours 48 mins,40.764937,-111.842102,"SALT LAKE CITY, UT",491.0,FALSE
182,"ALBION, IN",UMICH,107.828249,True,0.0,109.0,ALBION,41.360791,-85.431238,153 mi,...,7837.0,827.0,IN,8919.0,2 hours 29 mins,42.280800,-83.743000,"DETROIT, MI",7658.0,FALSE
183,"ALBION, ME",UNH,120.404570,True,5.0,6.0,ALBION,44.508311,-69.445210,145 mi,...,1782.0,264.0,ME,8918.0,2 hours 29 mins,43.138948,-70.937025,"DURHAM, NH",1737.0,FALSE
184,"ALBION, MI",UMICH,51.453033,True,63.0,2887.0,ALBION,42.279617,-84.746876,54.3 mi,...,14037.0,3162.0,MI,3327.0,55 mins,42.280800,-83.743000,"DETROIT, MI",10621.0,FALSE
185,"ALBION, OK",SMU,158.603486,True,5.0,0.0,ALBION,34.654509,-95.088174,191 mi,...,126.0,15.0,OK,11263.0,3 hours 8 mins,32.841218,-96.784518,"DALLAS, TX",80.0,FALSE
186,"ALBION, PA",PENN,101.493710,True,4.0,997.0,ALBION,41.878476,-80.405160,120 mi,...,6706.0,569.0,PA,6849.0,1 hour 54 mins,40.440600,-79.995900,"PITTSBURGH, PA",5511.0,FALSE
187,"ALBION, RI",HARV,32.873263,True,0.0,0.0,ALBION,41.952130,-71.456233,50.3 mi,...,1079.0,35.0,RI,3480.0,58 mins,42.350500,-71.105399,"BOSTON, MA",1005.0,FALSE
188,"ALBORN, MN",MINN,139.860249,True,0.0,0.0,ALBORN,46.957364,-92.637569,159 mi,...,509.0,34.0,MN,9447.0,2 hours 37 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",448.0,FALSE
189,"ALBRIGHT, WV",PENN,63.228124,True,0.0,2.0,ALBRIGHT,39.569166,-79.627057,107 mi,...,1792.0,335.0,WV,6327.0,1 hour 45 mins,40.440600,-79.995900,"PITTSBURGH, PA",1779.0,FALSE
190,"ALBRIGHTSVILLE, PA",PENN,75.358929,True,0.0,883.0,ALBRIGHTSVILLE,41.004434,-75.576536,90.1 mi,...,8248.0,572.0,PA,5561.0,1 hour 33 mins,39.952219,-75.193214,"PHILADELPHIA, PA",6665.0,FALSE
191,"ALBURGH, VT",UMASS,181.300720,True,7.0,0.0,ALBURGH,44.957882,-73.291974,233 mi,...,1713.0,174.0,VT,13836.0,3 hours 51 mins,42.391157,-72.526712,"AMHERST, MA",1673.0,FALSE
192,"ALBURNETT, IA",UWM,129.931840,True,0.0,0.0,ALBURNETT,42.159359,-91.638281,155 mi,...,1027.0,21.0,IA,9845.0,2 hours 44 mins,43.076600,-89.412500,"MADISON, WI",1024.0,FALSE
193,"ALBURTIS, PA",PENN,43.471788,True,14.0,131.0,ALBURTIS,40.477974,-75.646129,54.2 mi,...,5541.0,293.0,PA,4694.0,1 hour 18 mins,39.952219,-75.193214,"PHILADELPHIA, PA",5151.0,FALSE
194,"ALCOA, TN",VAND,159.657849,True,118.0,1148.0,ALCOA,35.791709,-83.987225,184 mi,...,7174.0,1855.0,TN,10230.0,2 hours 51 mins,36.144703,-86.802655,"NASHVILLE, TN",5844.0,FALSE
195,"ALCOLU, SC",GTECH,129.106886,True,23.0,835.0,ALCOLU,33.786644,-80.174065,141 mi,...,1959.0,444.0,SC,7746.0,2 hours 9 mins,32.083500,-81.099800,"SAVANNAH, GA",947.0,FALSE
196,"ALCOVE, NY",CU,113.757649,True,0.0,0.0,ALCOVE,42.455665,-73.927143,134 mi,...,17.0,0.0,NY,8345.0,2 hours 19 mins,40.807536,-73.962573,"NEW YORK, NY",17.0,FALSE
197,"ALDEN, IA",MINN,170.527665,True,0.0,0.0,ALDEN,42.508362,-93.401924,187 mi,...,1556.0,158.0,IA,10230.0,2 hours 51 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",1496.0,FALSE
198,"ALDEN, MI",UMICH,193.557799,True,0.0,0.0,ALDEN,44.864922,-85.239456,228 mi,...,1105.0,240.0,MI,12963.0,3 hours 36 mins,42.280800,-83.743000,"DETROIT, MI",1099.0,FALSE
199,"ALDEN, MN",MINN,92.013373,True,5.0,0.0,ALDEN,43.661834,-93.546424,107 mi,...,1479.0,83.0,MN,5962.0,1 hour 39 mins,44.975354,-93.233074,"MINNEAPOLIS, MN",1465.0,FALSE

In [33]:
minimum_distances["CityState"].nunique()

27238

In [34]:
minimum_distances[minimum_distances["Closest"] == False]

Empty DataFrame
Columns: [CityState, University, Distance, Closest, Asian Population, Black Population, City, City Lat, City Lng, Distance_Text, Education Associates, Education Bachelors, Education Doctorate, Education GED, Education High School, Education Masters, Education None, Education Professional, Employment Female Computer Engineering, Employment Labor Force, Employment Male Computer Engineering, Employment Unemployed, Google_URL, Hispanic Population, Household Income, Income Per Capita, Median Age, Median Female Age, Median Gross Rent, Median Home Value, Median Male Age, Native American Population, Population, Poverty, State, Time, Time_Text, Uni Lat, Uni Lng, Uni CityState, White Population, Physical_Campus]
Index: []

[0 rows x 42 columns]

In [35]:
minimum_distances[(minimum_distances["CityState"] == "HOUSTON, TX")]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
9660,"HOUSTON, TX",UT,5.801359,True,230549.0,684416.0,HOUSTON,29.775734,-95.414548,8.9 mi,...,3061887.0,633609.0,TX,1147.0,19 mins,29.719949,-95.342233,"HOUSTON, TX",1775897.0,TRUE

In [36]:
minimum_distances[(minimum_distances["CityState"] == "COLLEGE STATION, TX")]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
4243,"COLLEGE STATION, TX",UT,82.671703,True,9757.0,7634.0,COLLEGE STATION,30.585239,-96.299284,97.0 mi,...,112074.0,32506.0,TX,5642.0,1 hour 34 mins,29.719949,-95.342233,"HOUSTON, TX",89674.0,FALSE

In [37]:
minimum_distances[(minimum_distances["CityState"] == "BIRMINGHAM, AL")]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
1783,"BIRMINGHAM, AL",GTECH,139.819523,True,11585.0,217799.0,BIRMINGHAM,33.505136,-86.800174,152 mi,...,497450.0,92560.0,AL,8444.0,2 hours 21 mins,33.775618,-84.396285,"ATLANTA, GA",251913.0,FALSE

In [38]:
minimum_distances[(minimum_distances["CityState"] == "NEW ORLEANS, LA")]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
26757,"NEW ORLEANS, LA",UT,317.843215,True,11942.0,229241.0,NEW ORLEANS,29.972238,-90.056357,None,...,415247.0,102960.0,LA,NaN,None,29.719949,-95.342233,"HOUSTON, TX",160847.0,FALSE

In [39]:
minimum_distances[(minimum_distances["CityState"] == "MADISON, WI")]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
12172,"MADISON, WI",UWM,4.632362,True,21903.0,20773.0,MADISON,43.070701,-89.321318,8.3 mi,...,284782.0,50586.0,WI,1190.0,20 mins,43.0766,-89.4125,"MADISON, WI",223464.0,TRUE

In [40]:
minimum_distances["CityState"].nunique()

27238

In [41]:
minimum_distances[minimum_distances["CityState"] == "ZWOLLE, LA"]

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
22729,"ZWOLLE, LA",UT,167.971661,True,36.0,1075.0,ZWOLLE,31.650584,-93.618811,203 mi,...,5721.0,1207.0,LA,12123.0,3 hours 22 mins,29.719949,-95.342233,"HOUSTON, TX",3151.0,FALSE

### Export Data

In [42]:
minimum_distances.to_csv("Outputs/03-Minimum_Distances_Matrix.csv")

In [43]:
minimum_distances.to_sql("Minimum_Distances", conn, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [44]:
# Check Tables in SQLite
cur = conn.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
FullDistances
Minimum_Distances
Rules_Added
Zip_Census

### Export to Cloud SQL

In [136]:
engine = create_engine('mysql+mysqldb://trilogy:DataRocks@35.227.28.228/mapping_data?unix_socket=/cloudsql/sql-projects:us-east1:opportunity-db')
conn = engine.connect()

minimum_distances.to_sql("Minimum_Distances", conn, if_exists="replace", index=False)