## Compile All Data Into A Single CSV

In this Jupyter Notebook, we compile results across all of our datasets in Part 1 - 5 into a single CSV. (clean up)

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time 
from census import Census
from us import states
import sqlite3
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

# Census API Key
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)

### Load All Databases

In [2]:
# Check Tables in SQLite
conn_lite = sqlite3.connect("Opportunity_Map.db")
cur = conn_lite.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
FullDistances
Impressions
Minimum_Distances
Rules_Added
Zip_Census

In [3]:
# Retrieve all data
city_census = pd.read_sql("select * from City_Census", conn_lite)
min_distances = pd.read_sql("select * from Minimum_Distances", conn_lite)
impressions = pd.read_sql("select * from Impressions", conn_lite)

In [4]:
min_distances.head()

,CityState,University,Distance,Closest,Asian Population,Black Population,City,City Lat,City Lng,Distance_Text,...,Population,Poverty,State,Time,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population,Physical_Campus
0,"AARONSBURG, PA",PENN,140.339859,1,0.0,0.0,AARONSBURG,40.895701,-77.392432,165 mi,...,1058.0,202.0,PA,10568.0,2 hours 56 mins,40.440600,-79.995900,"PITTSBURGH, PA",1058.0,FALSE
1,"ABBEVILLE, AL",GTECH,157.537626,1,0.0,2274.0,ABBEVILLE,31.595148,-85.208852,184 mi,...,6470.0,1363.0,AL,10990.0,3 hours 3 mins,33.775618,-84.396285,"ATLANTA, GA",4064.0,FALSE
2,"ABBEVILLE, GA",GTECH,138.382298,1,41.0,1903.0,ABBEVILLE,31.976256,-83.339665,158 mi,...,4719.0,689.0,GA,9364.0,2 hours 36 mins,33.775618,-84.396285,"ATLANTA, GA",2676.0,FALSE
3,"ABBEVILLE, LA",UT,189.538012,1,1059.0,6457.0,ABBEVILLE,29.894612,-92.193173,231 mi,...,26078.0,5164.0,LA,13180.0,3 hours 40 mins,29.719949,-95.342233,"HOUSTON, TX",17932.0,FALSE
4,"ABBEVILLE, MS",VAND,187.693841,1,19.0,1502.0,ABBEVILLE,34.492325,-89.443056,254 mi,...,2974.0,428.0,MS,14485.0,4 hours 1 min,36.144703,-86.802655,"NASHVILLE, TN",1432.0,FALSE

In [5]:
city_census.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"AARONSBURG, PA",AARONSBURG,PA,1058.0,1058.0,0.0,0.0,0.0,0.0,23.0,...,4.0,41.5,43.8,38.9,53000.0,21407.0,642.0,170100.0,40.895701,-77.392432
1,"ABBEVILLE, AL",ABBEVILLE,AL,6470.0,4064.0,2274.0,0.0,0.0,96.0,66.0,...,7.0,50.1,45.3,52.4,33944.0,20104.0,516.0,78100.0,31.595148,-85.208852
2,"ABBEVILLE, GA",ABBEVILLE,GA,4719.0,2676.0,1903.0,0.0,41.0,89.0,55.0,...,0.0,39.3,38.2,45.8,29200.0,10071.0,435.0,58400.0,31.976256,-83.339665
3,"ABBEVILLE, LA",ABBEVILLE,LA,26078.0,17932.0,6457.0,160.0,1059.0,710.0,308.0,...,71.0,35.9,34.9,37.4,42909.0,21520.0,613.0,95800.0,29.894612,-92.193173
4,"ABBEVILLE, MS",ABBEVILLE,MS,2974.0,1432.0,1502.0,0.0,19.0,16.0,20.0,...,2.0,37.6,29.9,46.0,61563.0,26266.0,490.0,70200.0,34.492325,-89.443056

### Merge All Data

In [6]:
merged_data = pd.merge(city_census, min_distances, on=["CityState"], how="inner")

In [7]:
merged_data.columns

Index(['CityState', 'city', 'state', 'Population_x', 'White Population_x',
       'Black Population_x', 'Native American Population_x',
       'Asian Population_x', 'Hispanic Population_x', 'Education None_x',
       'Education High School_x', 'Education GED_x', 'Education Associates_x',
       'Education Bachelors_x', 'Education Masters_x',
       'Education Professional_x', 'Education Doctorate_x', 'Poverty_x',
       'Employment Labor Force_x', 'Employment Unemployed_x',
       'Employment Male Computer Engineering_x',
       'Employment Female Computer Engineering_x', 'Median Age_x',
       'Median Male Age_x', 'Median Female Age_x', 'Household Income_x',
       'Income Per Capita_x', 'Median Gross Rent_x', 'Median Home Value_x',
       'lat', 'lng', 'University', 'Distance', 'Closest', 'Asian Population_y',
       'Black Population_y', 'City', 'City Lat', 'City Lng', 'Distance_Text',
       'Education Associates_y', 'Education Bachelors_y',
       'Education Doctorate_y', 'Education GED_y', 'Education High School_y',
       'Education Masters_y', 'Education None_y', 'Education Professional_y',
       'Employment Female Computer Engineering_y', 'Employment Labor Force_y',
       'Employment Male Computer Engineering_y', 'Employment Unemployed_y',
       'Google_URL', 'Hispanic Population_y', 'Household Income_y',
       'Income Per Capita_y', 'Median Age_y', 'Median Female Age_y',
       'Median Gross Rent_y', 'Median Home Value_y', 'Median Male Age_y',
       'Native American Population_y', 'Population_y', 'Poverty_y', 'State',
       'Time', 'Time_Text', 'Uni Lat', 'Uni Lng', 'Uni CityState',
       'White Population_y', 'Physical_Campus'],
      dtype='object')

In [8]:
merged_data = pd.merge(merged_data, impressions, on="CityState", how="left")

In [9]:
merged_data.columns

Index(['CityState', 'city', 'state', 'Population_x', 'White Population_x',
       'Black Population_x', 'Native American Population_x',
       'Asian Population_x', 'Hispanic Population_x', 'Education None_x',
       'Education High School_x', 'Education GED_x', 'Education Associates_x',
       'Education Bachelors_x', 'Education Masters_x',
       'Education Professional_x', 'Education Doctorate_x', 'Poverty_x',
       'Employment Labor Force_x', 'Employment Unemployed_x',
       'Employment Male Computer Engineering_x',
       'Employment Female Computer Engineering_x', 'Median Age_x',
       'Median Male Age_x', 'Median Female Age_x', 'Household Income_x',
       'Income Per Capita_x', 'Median Gross Rent_x', 'Median Home Value_x',
       'lat', 'lng', 'University', 'Distance', 'Closest', 'Asian Population_y',
       'Black Population_y', 'City', 'City Lat', 'City Lng', 'Distance_Text',
       'Education Associates_y', 'Education Bachelors_y',
       'Education Doctorate_y', 'Education GED_y', 'Education High School_y',
       'Education Masters_y', 'Education None_y', 'Education Professional_y',
       'Employment Female Computer Engineering_y', 'Employment Labor Force_y',
       'Employment Male Computer Engineering_y', 'Employment Unemployed_y',
       'Google_URL', 'Hispanic Population_y', 'Household Income_y',
       'Income Per Capita_y', 'Median Age_y', 'Median Female Age_y',
       'Median Gross Rent_y', 'Median Home Value_y', 'Median Male Age_y',
       'Native American Population_y', 'Population_y', 'Poverty_y', 'State',
       'Time', 'Time_Text', 'Uni Lat', 'Uni Lng', 'Uni CityState',
       'White Population_y', 'Physical_Campus', 'Impressions', 'CPC', 'CTR',
       'Cost'],
      dtype='object')

In [10]:
merged_data.head()

,CityState,city,state,Population_x,White Population_x,Black Population_x,Native American Population_x,Asian Population_x,Hispanic Population_x,Education None_x,...,Time_Text,Uni Lat,Uni Lng,Uni CityState,White Population_y,Physical_Campus,Impressions,CPC,CTR,Cost
0,"AARONSBURG, PA",AARONSBURG,PA,1058.0,1058.0,0.0,0.0,0.0,0.0,23.0,...,2 hours 56 mins,40.440600,-79.995900,"PITTSBURGH, PA",1058.0,FALSE,NaN,NaN,NaN,NaN
1,"ABBEVILLE, AL",ABBEVILLE,AL,6470.0,4064.0,2274.0,0.0,0.0,96.0,66.0,...,3 hours 3 mins,33.775618,-84.396285,"ATLANTA, GA",4064.0,FALSE,0.23,2.45,0.04,0.02
2,"ABBEVILLE, GA",ABBEVILLE,GA,4719.0,2676.0,1903.0,0.0,41.0,89.0,55.0,...,2 hours 36 mins,33.775618,-84.396285,"ATLANTA, GA",2676.0,FALSE,NaN,NaN,NaN,NaN
3,"ABBEVILLE, LA",ABBEVILLE,LA,26078.0,17932.0,6457.0,160.0,1059.0,710.0,308.0,...,3 hours 40 mins,29.719949,-95.342233,"HOUSTON, TX",17932.0,FALSE,NaN,NaN,NaN,NaN
4,"ABBEVILLE, MS",ABBEVILLE,MS,2974.0,1432.0,1502.0,0.0,19.0,16.0,20.0,...,4 hours 1 min,36.144703,-86.802655,"NASHVILLE, TN",1432.0,FALSE,NaN,NaN,NaN,NaN

In [11]:
merged_data.count()

CityState                                   29119
city                                        29119
state                                       29119
Population_x                                29119
White Population_x                          29119
Black Population_x                          29119
Native American Population_x                29119
Asian Population_x                          29119
Hispanic Population_x                       29119
Education None_x                            29119
Education High School_x                     29119
Education GED_x                             29119
Education Associates_x                      29119
Education Bachelors_x                       29119
Education Masters_x                         29119
Education Professional_x                    29119
Education Doctorate_x                       29119
Poverty_x                                   29119
Employment Labor Force_x                    29119
Employment Unemployed_x                     29119
Employment Male Computer Engineering_x      29119
Employment Female Computer Engineering_x    29119
Median Age_x                                28792
Median Male Age_x                           28505
Median Female Age_x                         28501
Household Income_x                          27437
Income Per Capita_x                         28727
Median Gross Rent_x                         23638
Median Home Value_x                         27248
lat                                         29119
                                            ...
Education None_y                            29119
Education Professional_y                    29119
Employment Female Computer Engineering_y    29119
Employment Labor Force_y                    29119
Employment Male Computer Engineering_y      29119
Employment Unemployed_y                     29119
Google_URL                                  22870
Hispanic Population_y                       29119
Household Income_y                          27437
Income Per Capita_y                         28727
Median Age_y                                28792
Median Female Age_y                         28501
Median Gross Rent_y                         23638
Median Home Value_y                         27248
Median Male Age_y                           28505
Native American Population_y                29119
Population_y                                29119
Poverty_y                                   29119
State                                       29119
Time                                        22731
Time_Text                                   22731
Uni Lat                                     29119
Uni Lng                                     29119
Uni CityState                               29119
White Population_y                          29119
Physical_Campus                             29119
Impressions                                  7473
CPC                                          7473
CTR                                          7473
Cost                                         7473
Length: 76, dtype: int64

In [12]:
merged_data.columns

Index(['CityState', 'city', 'state', 'Population_x', 'White Population_x',
       'Black Population_x', 'Native American Population_x',
       'Asian Population_x', 'Hispanic Population_x', 'Education None_x',
       'Education High School_x', 'Education GED_x', 'Education Associates_x',
       'Education Bachelors_x', 'Education Masters_x',
       'Education Professional_x', 'Education Doctorate_x', 'Poverty_x',
       'Employment Labor Force_x', 'Employment Unemployed_x',
       'Employment Male Computer Engineering_x',
       'Employment Female Computer Engineering_x', 'Median Age_x',
       'Median Male Age_x', 'Median Female Age_x', 'Household Income_x',
       'Income Per Capita_x', 'Median Gross Rent_x', 'Median Home Value_x',
       'lat', 'lng', 'University', 'Distance', 'Closest', 'Asian Population_y',
       'Black Population_y', 'City', 'City Lat', 'City Lng', 'Distance_Text',
       'Education Associates_y', 'Education Bachelors_y',
       'Education Doctorate_y', 'Education GED_y', 'Education High School_y',
       'Education Masters_y', 'Education None_y', 'Education Professional_y',
       'Employment Female Computer Engineering_y', 'Employment Labor Force_y',
       'Employment Male Computer Engineering_y', 'Employment Unemployed_y',
       'Google_URL', 'Hispanic Population_y', 'Household Income_y',
       'Income Per Capita_y', 'Median Age_y', 'Median Female Age_y',
       'Median Gross Rent_y', 'Median Home Value_y', 'Median Male Age_y',
       'Native American Population_y', 'Population_y', 'Poverty_y', 'State',
       'Time', 'Time_Text', 'Uni Lat', 'Uni Lng', 'Uni CityState',
       'White Population_y', 'Physical_Campus', 'Impressions', 'CPC', 'CTR',
       'Cost'],
      dtype='object')

In [13]:
mid_data = merged_data[['CityState', 'city', 'state', 'Population_x', 'White Population_x',
       'Black Population_x', 'Native American Population_x',
       'Asian Population_x', 'Hispanic Population_x', 'Education None_x',
       'Education High School_x', 'Education GED_x', 'Education Associates_x',
       'Education Bachelors_x', 'Education Masters_x',
       'Education Professional_x', 'Education Doctorate_x', 'Poverty_x',
       'Employment Labor Force_x', 'Employment Unemployed_x',
       'Employment Male Computer Engineering_x',
       'Employment Female Computer Engineering_x', 'Median Age_x',
       'Median Male Age_x', 'Median Female Age_x', 'Household Income_x',
       'Income Per Capita_x', 'Median Gross Rent_x', 'Median Home Value_x',
       'lat', 'lng', 'University', 'Uni CityState', 'Distance', 'Closest', 'City', 'City Lat', 'City Lng', 'Distance_Text',
       'State', 'Time', 'Time_Text', 'Uni Lat', 'Uni Lng', 'Impressions', 'CPC', 'CTR', 'Cost']]

In [14]:
mid_data[["lat", "City Lat"]]

             lat   City Lat
0      40.895701  40.895701
1      31.595148  31.595148
2      31.976256  31.976256
3      29.894612  29.894612
4      34.492325  34.492325
5      34.182407  34.182407
6      45.229183  45.229183
7      44.967530  44.967530
8      31.881728  31.881728
9      39.895240  39.895240
10     38.006359  38.006359
11     38.263046  38.263046
12     46.445185  46.445185
13     39.488112  39.488112
14     43.020349  43.020349
15     39.503056  39.503056
16     33.843635  33.843635
17     35.117305  35.117305
18     38.697011  38.697011
19     45.482335  45.482335
20     47.205638  47.205638
21     33.857882  33.857882
22     41.331136  41.331136
23     38.956476  38.956476
24     32.417556  32.417556
25     40.796475  40.796475
26     40.796475  40.796475
27     39.466882  39.466882
28     36.711512  36.711512
29     42.119964  42.119964
...          ...        ...
29089  28.723731  28.723731
29090  37.427657  37.427657
29091  42.513993  42.513993
29092  40.123177  40.123177
29093  38.996464  38.996464
29094  31.686677  31.686677
29095  28.243184  28.243184
29096  40.285460  40.285460
29097  46.442291  46.442291
29098  45.464819  45.464819
29099  40.912303  40.912303
29100  42.459988  42.459988
29101  42.459988  42.459988
29102  39.984562  39.984562
29103  40.469697  40.469697
29104  36.340894  36.340894
29105  35.200490  35.200490
29106  40.612058  40.612058
29107  37.689048  37.689048
29108  27.432793  27.432793
29109  47.751189  47.751189
29110  39.769525  39.769525
29111  44.261215  44.261215
29112  44.322398  44.322398
29113  35.005278  35.005278
29114  36.838263  36.838263
29115  36.838263  36.838263
29116  48.661556  48.661556
29117  42.285554  42.285554
29118  31.650584  31.650584

[29119 rows x 2 columns]

In [15]:
final_data = mid_data[['CityState', 'Population_x', 'White Population_x',
       'Black Population_x', 'Native American Population_x',
       'Asian Population_x', 'Hispanic Population_x', 'Education None_x',
       'Education High School_x', 'Education GED_x', 'Education Associates_x',
       'Education Bachelors_x', 'Education Masters_x',
       'Education Professional_x', 'Education Doctorate_x', 'Poverty_x',
       'Employment Labor Force_x', 'Employment Unemployed_x',
       'Employment Male Computer Engineering_x',
       'Employment Female Computer Engineering_x', 'Median Age_x',
       'Median Male Age_x', 'Median Female Age_x', 'Household Income_x',
       'Income Per Capita_x', 'Median Gross Rent_x', 'Median Home Value_x','University', 'Uni CityState', 'Distance', 
        'Closest', 'City', 'City Lat', 'City Lng', 'Distance_Text',
       'State', 'Time', 'Time_Text', 'Uni Lat', 'Uni Lng', 'Impressions', 'CPC', 'CTR', 'Cost']]

In [16]:
final_data = final_data.rename(columns = {'Population_x':"Population", 'White Population_x':"White Population",
       'Black Population_x':"Black Population", 'Native American Population_x':"Native American Population",
       'Asian Population_x':"Asian Population", 'Hispanic Population_x':"Hispanic Population", 'Education None_x':"Education None",
       'Education High School_x':"Education High School", 'Education GED_x':"Education GED", 'Education Associates_x':"Education Associates",
       'Education Bachelors_x':"Education Bachelors", 'Education Masters_x':"Education Masters",
       'Education Professional_x':"Education Professional", 'Education Doctorate_x':"Education Doctorate", 'Poverty_x':"Poverty",
       'Employment Labor Force_x':"Employment Labor Force", 'Employment Unemployed_x':"Employment Unemployed",
       'Employment Male Computer Engineering_x':"Employment Male Computer Engineering",
       'Employment Female Computer Engineering_x':"Employment Female Computer Engineering", 'Median Age_x':"Median Age",
       'Median Male Age_x':"Median Male Age", 'Median Female Age_x':"Median Female Age", 'Household Income_x':"Household Income",
       'Income Per Capita_x':"Income Per Capita", 'Median Gross Rent_x':"Median Gross Rent", 'Median Home Value_x':"Median Home Value"})

In [17]:
final_data.columns

Index(['CityState', 'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value',
       'University', 'Uni CityState', 'Distance', 'Closest', 'City',
       'City Lat', 'City Lng', 'Distance_Text', 'State', 'Time', 'Time_Text',
       'Uni Lat', 'Uni Lng', 'Impressions', 'CPC', 'CTR', 'Cost'],
      dtype='object')

In [18]:
final_data = final_data[['CityState', 'University', 'Uni CityState', 'Distance', 'Closest', 'City', 'City Lat', 'City Lng',
       'Distance_Text', 'State', 'Time', 'Time_Text', 'Uni Lat', 'Uni Lng','Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value',
       'Impressions', 'CPC', 'CTR', 'Cost']]

In [19]:
final_data

,CityState,University,Uni CityState,Distance,Closest,City,City Lat,City Lng,Distance_Text,State,...,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,Impressions,CPC,CTR,Cost
0,"AARONSBURG, PA",PENN,"PITTSBURGH, PA",140.339859,1,AARONSBURG,40.895701,-77.392432,165 mi,PA,...,43.800000,38.900000,53000.000000,21407.000000,642.000000,170100.0,NaN,NaN,NaN,NaN
1,"ABBEVILLE, AL",GTECH,"ATLANTA, GA",157.537626,1,ABBEVILLE,31.595148,-85.208852,184 mi,AL,...,45.300000,52.400000,33944.000000,20104.000000,516.000000,78100.0,0.23,2.45,0.040,0.02
2,"ABBEVILLE, GA",GTECH,"ATLANTA, GA",138.382298,1,ABBEVILLE,31.976256,-83.339665,158 mi,GA,...,38.200000,45.800000,29200.000000,10071.000000,435.000000,58400.0,NaN,NaN,NaN,NaN
3,"ABBEVILLE, LA",UT,"HOUSTON, TX",189.538012,1,ABBEVILLE,29.894612,-92.193173,231 mi,LA,...,34.900000,37.400000,42909.000000,21520.000000,613.000000,95800.0,NaN,NaN,NaN,NaN
4,"ABBEVILLE, MS",VAND,"NASHVILLE, TN",187.693841,1,ABBEVILLE,34.492325,-89.443056,254 mi,MS,...,29.900000,46.000000,61563.000000,26266.000000,490.000000,70200.0,NaN,NaN,NaN,NaN
5,"ABBEVILLE, SC",GTECH,"ATLANTA, GA",116.574634,1,ABBEVILLE,34.182407,-82.425607,148 mi,SC,...,40.100000,44.900000,32423.000000,17810.000000,488.000000,94900.0,0.23,13.23,0.042,0.13
6,"ABBOT, ME",UNH,"DURHAM, NH",158.938804,1,ABBOT,45.229183,-69.596521,207 mi,ME,...,49.900000,49.900000,42292.000000,24085.000000,828.000000,130800.0,NaN,NaN,NaN,NaN
7,"ABBOTSFORD, WI",MINN,"MINNEAPOLIS, MN",144.634102,1,ABBOTSFORD,44.967530,-90.282268,152 mi,WI,...,37.500000,43.900000,41926.000000,26266.000000,585.000000,112500.0,NaN,NaN,NaN,NaN
8,"ABBOTT, TX",SMU,"DALLAS, TX",68.416138,1,ABBOTT,31.881728,-97.085410,80.3 mi,TX,...,40.200000,42.600000,56667.000000,24890.000000,800.000000,115300.0,NaN,NaN,NaN,NaN
9,"ABBOTTSTOWN, PA",PENN,"PHILADELPHIA, PA",94.939740,1,ABBOTTSTOWN,39.895240,-76.978971,117 mi,PA,...,42.600000,43.700000,62197.000000,25581.000000,967.000000,161900.0,NaN,NaN,NaN,NaN
10,"ABBYVILLE, KS",KU,"KANSAS CITY, KS",208.322033,1,ABBYVILLE,38.006359,-98.206324,None,KS,...,55.600000,52.300000,46250.000000,29101.000000,NaN,70700.0,NaN,NaN,NaN,NaN
11,"ABELL, MD",GW,"WASHINGTON, DC",47.038451,1,ABELL,38.263046,-76.737309,62.7 mi,MD,...,54.100000,52.400000,NaN,22727.000000,NaN,212500.0,NaN,NaN,NaN,NaN
12,"ABERCROMBIE, ND",MINN,"MINNEAPOLIS, MN",196.867734,1,ABERCROMBIE,46.445185,-96.719993,219 mi,ND,...,53.000000,57.200000,103750.000000,54450.000000,NaN,187500.0,NaN,NaN,NaN,NaN
13,"ABERDEEN PROVING GROUND, MD",PENN,"PHILADELPHIA, PA",59.949207,1,ABERDEEN PROVING GROUND,39.488112,-76.144520,71.9 mi,MD,...,22.200000,25.700000,76833.000000,28864.000000,1725.000000,NaN,3.37,3.54,0.019,0.22
14,"ABERDEEN, ID",UTAH,"SALT LAKE CITY, UT",164.420299,1,ABERDEEN,43.020349,-112.869167,215 mi,ID,...,32.300000,29.800000,44375.000000,17527.000000,558.000000,108600.0,NaN,NaN,NaN,NaN
15,"ABERDEEN, MD",PENN,"PHILADELPHIA, PA",62.037623,1,ABERDEEN,39.503056,-76.202096,70.9 mi,MD,...,36.400000,40.200000,57056.000000,28813.000000,967.000000,216700.0,2.45,23.57,0.015,0.84
16,"ABERDEEN, MS",VAND,"NASHVILLE, TN",187.510012,1,ABERDEEN,33.843635,-88.565615,233 mi,MS,...,35.600000,42.600000,35589.000000,18201.000000,558.000000,73800.0,0.57,4.65,0.036,0.09
17,"ABERDEEN, NC",UNC,"CHAPEL HILL, NC",58.466696,1,ABERDEEN,35.117305,-79.431532,67.5 mi,NC,...,33.100000,38.400000,41924.000000,19603.000000,756.000000,141900.0,NaN,NaN,NaN,NaN
18,"ABERDEEN, OH",OSU,"COLUMBUS, OH",98.211065,1,ABERDEEN,38.697011,-83.726747,123 mi,OH,...,41.600000,38.700000,29177.000000,22430.000000,499.000000,84100.0,NaN,NaN,NaN,NaN
19,"ABERDEEN, SD",MINN,"MINNEAPOLIS, MN",260.911653,1,ABERDEEN,45.482335,-98.532540,None,SD,...,34.600000,38.100000,51621.000000,28196.000000,608.000000,144200.0,1.73,3.79,0.043,0.27
20,"ABERDEEN, WA",UW,"SEATTLE, WA",74.769063,1,ABERDEEN,47.205638,-123.754329,129 mi,WA,...,37.800000,39.600000,43946.000000,19584.000000,698.000000,139100.0,1.84,10.07,0.058,1.06
21,"ABERNATHY, TX",SMU,"DALLAS, TX",302.981336,1,ABERNATHY,33.857882,-101.881538,None,TX,...,33.400000,39.600000,51745.000000,21233.000000,757.000000,81900.0,NaN,NaN,NaN,NaN
22,"ABIE, NE",KU,"KANSAS CITY, KS",196.496571,1,ABIE,41.331136,-96.960029,242 mi,NE,...,48.300000,50.000000,69688.000000,31182.000000,NaN,80000.0,NaN,NaN,NaN,NaN
23,"ABILENE, KS",KU,"KANSAS CITY, KS",139.847089,1,ABILENE,38.956476,-97.219090,150 mi,KS,...,41.200000,42.700000,50277.000000,25549.000000,605.000000,121900.0,NaN,NaN,NaN,NaN
24,"ABILENE, TX",SMU,"DALLAS, TX",176.084188,1,ABILENE,32.417556,-99.762595,189 mi,TX,...,29.783333,30.416667,45575.800000,19609.166667,756.000000,106100.0,10.19,8.21,0.025,2.02
25,"ABINGDON, IL",NU,"CHICAGO, IL",165.912617,1,ABINGDON,40.796475,-90.396007,219 mi,IL,...,38.900000,41.700000,37425.000000,20180.000000,532.000000,72500.0,NaN,NaN,NaN,NaN
26,"ABINGDON, IL",NU,"EVANSTON, IL",165.912617,1,ABINGDON,40.796475,-90.396007,219 mi,IL,...,38.900000,41.700000,37425.000000,20180.000000,532.000000,72500.0,NaN,NaN,NaN,NaN
27,"ABINGDON, MD",GW,"WASHINGTON, DC",56.273476,1,ABINGDON,39.466882,-76.295230,65.3 mi,MD,...,35.200000,36.600000,86793.000000,36149.000000,1300.000000,246400.0,2.45,53.94,0.038,4.95
28,"ABINGDON, VA",UNCH,"CHARLOTTE, NC",119.694981,1,ABINGDON,36.711512,-81.991300,195 mi,VA,...,42.350000,47.700000,47593.000000,28412.500000,607.500000,164650.0,0.23,0.89,0.122,0.02
29,"ABINGTON, MA",HARV,"BOSTON, MA",17.633752,1,ABINGTON,42.119964,-70.957216,24.5 mi,MA,...,41.500000,39.000000,80148.000000,36071.000000,1105.000000,304900.0,3.24,10.51,0.030,1.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29089,"ZELLWOOD, FL",UCF,"ORLANDO, FL",24.984793,1,ZELLWOOD,28.723731,-81.587720,42.4 mi,FL,...,59.100000,64.700000,33552.000000,19406.000000,924.000000,68800.0,NaN,NaN,NaN,NaN
29090,"ZENDA, KS",KU,"KANSAS CITY, KS",231.513738,1,ZENDA,37.427657,-98.309416,None,KS,...,59.400000,57.900000,44583.000000,36701.000000,NaN,39600.0,NaN,NaN,NaN,NaN
29091,"ZENDA, WI",UWM,"MADISON, WI",60.880253,1,ZENDA,42.513993,-88.490181,73.2 mi,WI,...,62.300000,57.700000,44583.000000,19481.000000,NaN,134400.0,NaN,NaN,NaN,NaN
29092,"ZENIA, CA",UCB,"SAN FRANCISCO, CA",170.515462,1,ZENIA,40.123177,-123.446279,238 mi,CA,...,36.900000,36.400000,57500.000000,23331.000000,NaN,NaN,NaN,NaN,NaN,NaN
29093,"ZEPHYR COVE, NV",UTAH,"SALT LAKE CITY, UT",446.048028,1,ZEPHYR COVE,38.996464,-119.917493,None,NV,...,53.800000,57.200000,96250.000000,51298.000000,1242.000000,640400.0,NaN,NaN,NaN,NaN
29094,"ZEPHYR, TX",UT,"AUSTIN, TX",114.679953,1,ZEPHYR,31.686677,-98.776277,128 mi,TX,...,46.600000,41.800000,53333.000000,24612.000000,900.000000,112500.0,NaN,NaN,NaN,NaN
29095,"ZEPHYRHILLS, FL",UCF,"TAMPA, FL",19.125379,1,ZEPHYRHILLS,28.243184,-82.179610,22.8 mi,FL,...,55.866667,55.600000,36468.666667,22747.666667,800.333333,73300.0,8.04,6.66,0.051,2.71
29096,"ZIEGLERVILLE, PA",PENN,"PHILADELPHIA, PA",27.909859,1,ZIEGLERVILLE,40.285460,-75.491912,40.0 mi,PA,...,83.900000,83.900000,NaN,33147.000000,2283.000000,268500.0,NaN,NaN,NaN,NaN
29097,"ZILLAH, WA",UW,"SEATTLE, WA",128.973158,1,ZILLAH,46.442291,-120.226815,171 mi,WA,...,35.500000,30.300000,56047.000000,20141.000000,947.000000,184000.0,NaN,NaN,NaN,NaN
29098,"ZIMMERMAN, MN",MINN,"MINNEAPOLIS, MN",38.529906,1,ZIMMERMAN,45.464819,-93.612029,49.3 mi,MN,...,33.200000,34.200000,75921.000000,29552.000000,970.000000,177300.0,1.42,7.42,0.016,0.16
29099,"ZION GROVE, PA",PENN,"PHILADELPHIA, PA",85.439344,1,ZION GROVE,40.912303,-76.216648,109 mi,PA,...,47.300000,50.400000,54135.000000,28134.000000,1125.000000,153700.0,NaN,NaN,NaN,NaN
29100,"ZION, IL",NU,"EVANSTON, IL",29.502248,1,ZION,42.459988,-87.865021,43.2 mi,IL,...,32.000000,35.100000,51332.000000,21768.000000,943.000000,136100.0,1.38,7.29,0.034,0.33
29101,"ZION, IL",NU,"CHICAGO, IL",29.502248,1,ZION,42.459988,-87.865021,43.2 mi,IL,...,32.000000,35.100000,51332.000000,21768.000000,943.000000,136100.0,1.38,7.29,0.034,0.33
29102,"ZIONSVILLE, IN",OSU,"COLUMBUS, OH",172.544045,1,ZIONSVILLE,39.984562,-86.282625,193 mi,IN,...,37.200000,38.300000,109124.000000,53955.000000,1165.000000,338100.0,3.68,12.91,0.066,3.10
29103,"ZIONSVILLE, PA",PENN,"PHILADELPHIA, PA",39.511675,1,ZIONSVILLE,40.469697,-75.513140,50.9 mi,PA,...,46.300000,50.600000,83643.000000,43453.000000,1025.000000,303900.0,NaN,NaN,NaN,NaN
29104,"ZIONVILLE, NC",UNCH,"CHARLOTTE, NC",90.771489,1,ZIONVILLE,36.340894,-81.736245,130 mi,NC,...,50.100000,44.100000,44760.000000,22250.000000,725.000000,168800.0,NaN,NaN,NaN,NaN
29105,"ZIRCONIA, NC",UNCH,"CHARLOTTE, NC",101.464148,1,ZIRCONIA,35.200490,-82.524773,114 mi,NC,...,41.800000,42.600000,53214.000000,28456.000000,810.000000,160300.0,NaN,NaN,NaN,NaN
29106,"ZOAR, OH",CWR,"CLEVELAND, OH",62.320101,1,ZOAR,40.612058,-81.424219,76.7 mi,OH,...,44.400000,54.200000,50000.000000,36185.000000,664.000000,211400.0,NaN,NaN,NaN,NaN
29107,"ZOE, KY",OSU,"COLUMBUS, OH",164.087820,1,ZOE,37.689048,-83.673356,250 mi,KY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29108,"ZOLFO SPRINGS, FL",UCF,"TAMPA, FL",61.400632,1,ZOLFO SPRINGS,27.432793,-81.699984,88.9 mi,FL,...,31.400000,30.700000,35263.000000,16075.000000,788.000000,86400.0,NaN,NaN,NaN,NaN
29109,"ZORTMAN, MT",UTAH,"SALT LAKE CITY, UT",508.479655,1,ZORTMAN,47.751189,-108.592475,None,MT,...,59.800000,60.000000,23304.000000,17506.000000,NaN,NaN,NaN,NaN,NaN,NaN
29110,"ZULLINGER, PA",PENN,"PHILADELPHIA, PA",129.735611,1,ZULLINGER,39.769525,-77.621818,173 mi,PA,...,35.800000,51.900000,25526.000000,18870.000000,NaN,13200.0,NaN,NaN,NaN,NaN
29111,"ZUMBRO FALLS, MN",MINN,"MINNEAPOLIS, MN",63.600705,1,ZUMBRO FALLS,44.261215,-92.418566,78.4 mi,MN,...,47.900000,49.700000,64464.000000,35640.000000,758.000000,235200.0,NaN,NaN,NaN,NaN
29112,"ZUMBROTA, MN",MINN,"MINNEAPOLIS, MN",52.616938,1,ZUMBROTA,44.322398,-92.682769,63.6 mi,MN,...,40.000000,41.000000,52817.000000,26788.000000,593.000000,178000.0,0.57,18.40,0.028,0.29
29113,"ZUNI, NM",UA,"PHOENIX, AZ",216.876876,1,ZUNI,35.005278,-108.781728,None,NM,...,29.600000,33.200000,32604.000000,10576.000000,500.000000,76100.0,NaN,NaN,NaN,NaN
29114,"ZUNI, VA",UR,"RICHMOND, VA",58.883004,1,ZUNI,36.838263,-76.861870,68.6 mi,VA,...,52.900000,52.200000,63309.000000,30679.000000,NaN,219500.0,NaN,NaN,NaN,NaN
29115,"ZUNI, VA",UR,"RICHMOND, VA",58.883004,1,ZUNI,36.838263,-76.861870,68.6 mi,VA,...,52.900000,52.200000,63309.000000,30679.000000,NaN,219500.0,NaN,NaN,NaN,NaN
29116,"ZURICH, MT",UTAH,"SALT LAKE CITY, UT",562.458753,1,ZURICH,48.661556,-109.030355,None,MT,...,44.000000,50.500000,40417.000000,24779.000000,NaN,NaN,NaN,NaN,NaN,NaN
29117,"ZWINGLE, IA",UWM,"MADISON, WI",85.963943,1,ZWINGLE,42.285554,-90.716248,108 mi,IA,...,45.100000,46.400000,55313.000000,27991.000000,736.000000,152000.0,NaN,NaN,NaN,NaN
29118,"ZWOLLE, LA",UT,"HOUSTON, TX",167.971661,1,ZWOLLE,31.650584,-93.618811,203 mi,LA,...,37.100000,39.700000,36148.000000,20643.000000,523.000000,62400.0,NaN,NaN,NaN,NaN

### Export Data to Local DB

In [20]:
final_data.to_csv("Outputs/06-Final_Data.csv")

In [21]:
final_data.to_sql("Full_Data", conn_lite, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [22]:
# Check Tables in SQLite
cur = conn_lite.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
FullDistances
Full_Data
Impressions
Minimum_Distances
Rules_Added
Zip_Census

### Export to Cloud SQL

In [24]:
# Create Engine and Pass in MySQL Connection
engine = create_engine('mysql+mysqldb://trilogy:test@35.227.28.228/mapping_data?unix_socket=/cloudsql/sql-projects:us-east1:opportunity-db')
conn = engine.connect()

In [26]:
final_data.to_sql("Full_Data", conn, if_exists="replace", index=False)

In [ ]:
data = pd.read_sql("SELECT * FROM Full_Data", conn)

In [ ]:
data.head()

In [7]:
#gtech_df = data[data["University"] == "GTECH"]

In [8]:
#gtech_df.to_csv("gtech_area.csv")